@media screen and (max-width:1200px){

	.pc{display: none;}

	.wap{display: block;}

	.nav{display: none;}

	.top{height: 60px;}

	.logo{height: 40px; margin-top: 10px;}

	.ss{display: none;}

	.m1{padding: 20px 0;}

	.m1a{width: 100%; float: none;}

	.m1a1{font-size: 18px;}

	.m1a2{margin: 10px 0; line-height: 25px;}

	.m1a4 li{padding-top: 20px;}

	.m1b{display: none;}

	.m1a4 li h1{font-size: 14px;}

	.tit{margin-top: 20px; margin-bottom: 40px; width: 100%;}

	.titc{width: 200px;}

	.titc h1{font-size: 22px;}

	.titc p{font-size: 14px;}

	.m2{padding: 10px;}

	.m2 li{margin-left: 0px; float: none; width: 100%; margin-bottom: 10px;}

	.m2a p{display: none;}

	.m2 h2{height: 40px; line-height: 20px;}

	.m3 em{margin: 0 10px;}

	.m4 li{width: 47%; margin: 0 1.5%; margin-top: 20px;}

	.m4 li:nth-child(4n+1){margin-left: 1.5%;}

	.m4 li label{height: 120px;}

	.di{display: none;}

	.foot{font-size: 13px;}

	.xuzhi{padding: 20px 0;}

	.xuzhi1{width: 100%; float: none; margin-bottom: 20px;}

	.xuzhi2{width: 100%; float: none;}

	.nbb{font-size: 18px;}

	.xuzhi3{width: 100%; float: none;}

	.xuzhi4{width: 100%; float: none; margin-top: 10px;}

	.bbt{padding: 0px;}

	.bbt h1{font-size: 18px;}

	.ntc{padding: 15px 0;}

	.ntc h1{font-size: 18px;}

	.nlist li{width: 100%; float: none; margin-top: 20px; padding-bottom: 20px;}

	.nlist li a{width: 100%;}

	.nlist li:nth-child(2n) a{margin-left: 0px;}

	.sanxian{display: block;}

	.shen{padding: 20px 0;}

	.shenb{width: 100%;}

	.sb1 span{width: 30%; text-align: right; margin-right: 10px;}

	.hztext1{width: 60%;}

	.sb1 p{float: none; height: 45px;}

	.sb1 .sb11{margin-left: 0px;}

	.hztext2{width: 60%;}

	.shenbut{margin-left: 0px; width: 100%; margin-top: 10px; margin-bottom: 10px;}

	.shenc{float: none; width: 100%;}

	.xwa{padding: 20px 0;}

	.bxt h1{font-size: 18px;}

	.xwa1{width: 100%; float: none;}

	.xwa2{width: 100%; float: none; margin-top: 10px;}

	.xwb{padding: 20px 0;}

	.xwbc{padding: 0px;}

	.xwbc1{width: 100%; float: none; display: none;}

	.xwbc2{width: 100%; float: none;}

	.bbx{padding: 20px 0;}

	.bbxc li{width: 100%; float: none; margin-left: 0px;}

	.lx{height: auto; background-color: #fff; margin: 20px 0;}

	.lxc{padding-top: 0px; width: 100%;}

	.map iframe{width: 100%;}

	.m4 li h1{font-size: 16px;}

	.m4 li p{font-size: 14px; height: 40px; line-height: 20px;}

	.m3 span{font-size: 16px;}

	.m2 a{height: 30px; line-height: 30px; font-size: 14px;}

	.xuzhicon{line-height: 25px;}

	.muc{padding-top: 20px;}

	.wei{padding: 10px 0;}

	.sb1{margin-bottom: 0px;}

	.tui h1{font-size: 18px;}

	.tui p{height: 40px; line-height: 20px;}

	.xb li{margin: 0px;}

	.bbxc{padding-top: 10px;}

	.bbxc p{height: 40px; line-height: 20px;}

	.nlist li p{height: 40px; line-height: 20px;}

}
