/*==========以下部分是Validform必须的===========*/

.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}

.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(../../../templates/cqmrgroup/images/right.png) no-repeat left center;
}

.Validform_wrong{
	color:firebrick;
	padding-left:20px;
	white-space:nowrap;
	background:url(../../../templates/cqmrgroup/images/error.png) no-repeat left center;
}

.Validform_loading{
	padding-left:20px;
	background:url(../../../templates/cqmrgroup/images/onload.gif) no-repeat left center;
}

.Validform_error{
	background-color:#ffe7e7;
}

#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:260px; -webkit-box-shadow:1px 1px 5px #999; -moz-box-shadow:1px 1px 5px #999; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); border-radius: 2px;}

#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}

#Validform_msg .Validform_title{line-height:42px; height:42px; text-align:left; padding:0 20px; font-size: 14px; color:#333; position:relative; background-color:#F8F8F8;}

#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}

#Validform_msg a.Validform_close:hover{color:#cc0;}

#Validform_msg .Validform_close{background-image: url(../../../templates/cqmrgroup/images/close.png);display: block; width: 16px; height: 16px; margin-top: 13px; margin-right: 8px;}

#Validform_msg .Validform_info{padding:20px; border-top:none; text-align:left; font-size: 14px; color: #333; line-height: 24px;}

#Validform_msg .Validform_but{text-align: right; padding: 0 10px 12px;}

#Validform_msg .Validform_but button{height: 28px; line-height: 28px; color: #fff; border: none; font-size: 12px; background-color: #2E8DED; margin: 6px 6px 0; padding: 0 15px; border-radius: 2px; cursor: pointer;}

#Validform_msg .Validform_but button:hover{background-color: #4898d5;}
