<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web> 
    </system.web>
    <system.webServer>  
        <rewrite>
            <rules>
  
                <!-- Rewrite重写 Redirect 跳转 -->



<!--                 <rule name="tags">
                    <match url="^tags_([a-zA-Z0-9-\u4e00-\u9fa5]*)$" />
                    <action type="Rewrite" url="/tags.asp?tag={R:1}" />
                </rule> -->


                <rule name="tags2">
                    <match url="^tags_([a-zA-Z0-9-\u4e00-\u9fa5]*).html$" />
                    <action type="Rewrite" url="/tags.asp?tag={R:1}" />
                </rule>
                
                <rule name="tagspage">
                    <match url="^tags_([a-zA-Z0-9-\u4e00-\u9fa5]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/tags.asp?tag={R:1}&amp;page={R:2}" />
                </rule>
                

                <rule name="search2">
                    <match url="^search_([a-zA-Z0-9-\u4e00-\u9fa5]*).html$" />
                    <action type="Rewrite" url="/search.asp?keyboard={R:1}" />
                </rule>
                
                <rule name="searchpage">
                    <match url="^search_([a-zA-Z0-9-\u4e00-\u9fa5]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/search.asp?keyboard={R:1}&amp;page={R:2}" />
                </rule>
                

                <rule name="column1">
                    <match url="^about_([0-9]*).html$" />
                    <action type="Rewrite" url="/about.asp?id={R:1}" />
                </rule>
                <rule name="defaultpage">
                    <match url="^([0-9]*).html$" />
                    <action type="Rewrite" url="/default.asp?page={R:1}" />
                </rule>
                
                <rule name="column2">
                    <match url="^news_([0-9]*).html$" />
                    <action type="Rewrite" url="/news.asp?id={R:1}" />
                </rule>
                <rule name="column3">
                    <match url="^product_([0-9]*).html$" />
                    <action type="Rewrite" url="/product.asp?id={R:1}" />
                </rule>
                <rule name="column4">
                    <match url="^case_([0-9]*).html$" />
                    <action type="Rewrite" url="/case.asp?id={R:1}" />
                </rule> 
                <rule name="column5">
                    <match url="^guestbook_([0-9]*).html$" />
                    <action type="Rewrite" url="guestbook.asp?id={R:1}" />
                </rule> 
                
                <rule name="column2page">
                    <match url="^news_([0-9]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/news.asp?id={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="column3page">
                    <match url="^product_([0-9]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/product.asp?id={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="column4page">
                    <match url="^case_([0-9]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/case.asp?id={R:1}&amp;page={R:2}" />
                </rule>

                <rule name="detail1">
                    <match url="^detail_([0-9]*).html$" />
                    <action type="Rewrite" url="/detail.asp?id={R:1}" />
                </rule>



                <rule name="testcolumn1">
                    <match url="^tpl/([a-zA-Z0-9]*)/about_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/about.asp?id={R:2}" />
                </rule>
                
                <rule name="testcolumn2">
                    <match url="^tpl/([a-zA-Z0-9]*)/news_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/news.asp?id={R:2}" />
                </rule>
                <rule name="testcolumn3">
                    <match url="^tpl/([a-zA-Z0-9]*)/product_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/product.asp?id={R:2}" />
                </rule>
                <rule name="testcolumn4">
                    <match url="^tpl/([a-zA-Z0-9]*)/case_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/case.asp?id={R:2}" />
                </rule> 
                <rule name="testcolumn5">
                    <match url="^tpl/([a-zA-Z0-9]*)/guestbook_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/guestbook.asp?id={R:2}" />
                </rule> 
                
                <rule name="testcolumn2page">
                    <match url="^tpl/([a-zA-Z0-9]*)/news_([0-9]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/news.asp?id={R:2}&amp;page={R:3}" />
                </rule>
                <rule name="testcolumn3page">
                    <match url="^tpl/([a-zA-Z0-9]*)/product_([0-9]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/product.asp?id={R:2}&amp;page={R:3}" />
                </rule>
                <rule name="testcolumn4page">
                    <match url="^tpl/([a-zA-Z0-9]*)/case_([0-9]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/case.asp?id={R:2}&amp;page={R:3}" />
                </rule>

                <rule name="testdetail1">
                    <match url="^tpl/([a-zA-Z0-9]*)/detail_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/detail.asp?id={R:2}" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="webcase.asp" />
            </files>
        </defaultDocument>
         
    </system.webServer>
</configuration>