<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web> 
    </system.web>
    <system.webServer>  
        <rewrite>
            <rules>
  
                <!-- Rewrite重写 Redirect 跳转 -->



<!--                 <rule name="tags">
                    <match url="^tags_([a-zA-Z0-9-\u4e00-\u9fa5]*)$" />
                    <action type="Rewrite" url="/tags.asp?tag={R:1}" />
                </rule> -->


                <rule name="tags2">
                    <match url="^tags_([a-zA-Z0-9-\u4e00-\u9fa5]*).html$" />
                    <action type="Rewrite" url="/tags.asp?tag={R:1}" />
                </rule>                
                <rule name="tagspage">
                    <match url="^tags_([a-zA-Z0-9-\u4e00-\u9fa5]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/tags.asp?tag={R:1}&amp;page={R:2}" />
                </rule>                

                <rule name="search2">
                    <match url="^search_([a-zA-Z0-9-\u4e00-\u9fa5]*).html$" />
                    <action type="Rewrite" url="/search.asp?keyboard={R:1}" />
                </rule>                
                <rule name="searchpage">
                    <match url="^search_([a-zA-Z0-9-\u4e00-\u9fa5]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/search.asp?keyboard={R:1}&amp;page={R:2}" />
                </rule>
                
 
                <rule name="defaultpage">
                    <match url="^page_([0-9]*).html$" />  <!--首页翻页-->
                    <action type="Rewrite" url="/default.asp?page={R:1}" />
                </rule>
                <!-- 地区首页  /sichuan-./  也可以 -->
                <rule name="diqudefaultpage">
                    <match url="^([a-zA-Z]*)-$" />  
                    <action type="Rewrite" url="/default.asp?diqu={R:1}" />
                </rule>                

                <!-- 大类页 -->
                <rule name="column2">
                    <match url="^([a-zA-Z]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/{R:1}.asp?id={R:2}" />
                </rule>
                <!-- 地区大类页-->
                <rule name="diqucolumn2">
                    <match url="^([a-zA-Z]*)-([a-zA-Z]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/{R:2}.asp?diqu={R:1}&amp;id={R:3}" />
                </rule>
                <!-- 大类列表翻页 -->
                <rule name="column2page">
                    <match url="^([a-zA-Z]*)_([0-9]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/{R:1}.asp?id={R:2}&amp;page={R:3}" />
                </rule> 
                <!-- 地区大类列表翻页 -->
                <rule name="diqucolumn2page">
                    <match url="^([a-zA-Z]*)-([a-zA-Z]*)_([0-9]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/{R:2}.asp?id={R:3}&amp;page={R:4}&amp;diqu={R:1}" />
                </rule>
                <!-- 文章详细页 -->
                <rule name="detail1">
                    <match url="^detail_([0-9]*).html$" />
                    <action type="Rewrite" url="/detail.asp?id={R:1}" />
                </rule>
                <!-- 地区文章详细页 -->
                <rule name="diqudetail1">
                    <match url="^([a-zA-Z]*)-detail_([0-9]*).html$" />
                    <action type="Rewrite" url="/{R:1}-detail.asp?id={R:2}" />
                </rule> 


                <!-- TPL地区首页  /sichuan-./  也可以 -->
                <rule name="tpldiqudefaultpage">
                    <match url="^tpl/([a-zA-Z0-9]*)/([a-zA-Z]*)-$" />  
                    <action type="Rewrite" url="/tpl/{R:1}/default.asp?diqu={R:2}" />
                </rule>  
                <!-- TPL大类页 -->
                <rule name="tplcolumn2">
                    <match url="^tpl/([a-zA-Z0-9]*)/([a-zA-Z]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/{R:2}.asp?id={R:3}" />
                </rule>
                <!-- TPL地区大类页-->
                <rule name="tpldiqucolumn2">
                    <match url="^tpl/([a-zA-Z0-9]*)/([a-zA-Z]*)-([a-zA-Z]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/{R:3}.asp?diqu={R:2}&amp;id={R:4}" />
                </rule>
                <!-- TPL大类列表翻页 -->
                <rule name="tplcolumn2page">
                    <match url="^tpl/([a-zA-Z0-9]*)/([a-zA-Z]*)_([0-9]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/{R:2}.asp?id={R:3}&amp;page={R:4}" />
                </rule> 
                <!-- TPL地区大类列表翻页 -->
                <rule name="tpldiqucolumn2page">
                    <match url="^tpl/([a-zA-Z0-9]*)/([a-zA-Z]*)-([a-zA-Z]*)_([0-9]*)_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/{R:3}.asp?id={R:4}&amp;page={R:5}&amp;diqu={R:2}" />
                </rule>
                <!-- TPL文章详细页 -->
                <rule name="tpldetail1">
                    <match url="^tpl/([a-zA-Z0-9]*)/detail_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/detail.asp?id={R:2}" />
                </rule>
                <!-- TPL地区文章详细页 -->
                <rule name="tpldiqudetail1">
                    <match url="^tpl/([a-zA-Z0-9]*)/([a-zA-Z]*)-detail_([0-9]*).html$" />
                    <action type="Rewrite" url="/tpl/{R:1}/{R:2}-detail.asp?id={R:3}" />
                </rule> 


 
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="webcase.asp" />
            </files>
        </defaultDocument>
         
    </system.webServer>
</configuration>