@media (max-width:1200px){
	.container{
		width:96%;
		margin:0px 2%;
	}
	.header-fluid{
		position: fixed;
		top:0px;
		left:0px;
		width:100%;
		background:#fff;
		z-index: 999;
		box-shadow: 0px 3px 2px rgba(10, 10, 10, 0.33);
	}
	.header .tel{display:none;}
	.sub-banner,
	.banner-fluid{
		margin-top:90px;
	}
	.nav{
		display: none;
		width:100%;
		position: absolute;
		top:90px;
		left:0px;
		z-index: 999;
		background:rgba(255, 255, 255, 0.9);
		padding:10px 0px;
		border-top:1px solid #ddd;
	}
	.nav-list>ul>li{
		display: block;
		width:100%;
	}
	.nav-list>ul>li>a{
		display: block;
		width:100%;
		text-align: center;
		margin-top:0px;
	}
	.daohang{
		display: block;
	}
	.strength-list ul li{
		padding:15px;
	}
	.sub-right{
		padding-left:20px;	
	}
	/*产品详情页*/
	.product-part4{
		height:auto;
	}
	.pro-part5-rBox img{
		max-width: 90%;
		right:0px;
	}
	.foote-left{
		width:calc(100% - 150px);
		
	}
	.footer-l-list dl{
		width:calc(100%/6);
		padding-right:10px;
	}
	.footer-r-info .footer-r-tel{
		font-size:20px;
	}
	.footer-right{
		float:left;
		width:150px;
	}}
@media (max-width:992px){
	.cbxf {
		display: none;
	}
	.bottom-fluid {
		display: block;
	}
	.main-title{
		padding:50px 0px 20px;
	}
	.news-box1{
		width:calc(50% - 10px);
		margin-right:20px;
		margin-bottom: 20px;
		min-height:auto;
	}
	.news-box1:nth-of-type(2){
		margin-right:0px;
	}
	.news-box2{
		width:100%;
		margin-right:0px;
		min-height:auto;
	}
	.footer-bottom-fluid{
		padding-bottom: 75px;
	}
	.sub-left{
		width:100%;
	}
	.mode2{
		display: none;
	}
	.sub-right{
		width:100%;
		padding-left:0px;
	}
	.sub-content{
		margin-top:20px;
		padding-bottom: 30px;
	}
	/*产品详情页*/
	.product-part2{
		padding-top:50px;
		padding-bottom: 20px;
	}
	
	.pro-part2-lBox{
		width: 100%;
    	margin-bottom: 20px;
	}
	.pro-part2-lBox img{
		margin:0px auto;
	}
	.pro-part2-rBox{
		width:100%;
	}
	.pro-part2-rBox .pd{
		padding:0px 15px;
	}
	.pro-part2-rBox .pro-part2-title{
		font-size:32px;
	}
	.pro-part3-title,
	.pro-part4-title,
	.pro-part5-title{
		font-size:32px;
	}
	.pro-part4-lBox{
		width:40%;
	}
	.pro-part4-rBox{
		width:60%;
	}
	.pro-part4-rBox .pd{
		padding-top:0px;
	}
	.pro-part4-info{
		line-height: 25px;
    	margin-bottom: 10px;
	}
	.product-part5{
		height:auto;
		padding-bottom: 80px;
	}
	.pro-part5-lBox .pd{
		padding-top:80px;
	}
	.pro-part6-title,
	.pro-part7-title,
	.pro-part8-title{
		font-size: 32px;
    	margin-bottom: 10px;
	}
	.pro-part6-info{
		margin-bottom: 10px;
	}
	
	.product-part8{
		height:auto;
		padding-bottom:100px;
	}
	.pro-part8-lBox .pd{
		padding:100px 0px 0px 0px;
	}
	.footer{
		padding-bottom: 0px;
	}
	.footer-l-list dl dt{
		font-size:16px;
	}
	.footer-l-list dl dd{
		font-size:13px;
		line-height: 30px;
	}
	.footer-r-info .footer-r-tel{
		letter-spacing: 0px;
		font-size:16px;
		margin-bottom: 5px;
	}
	.footer-r-p{
		font-size:16px;
		margin-bottom: 5px;
	}
	.footer-a{
		font-size:16px;
		width:100px;
		line-height: 30px;
	}}
@media (max-width:768px){
	.main-title{
		padding-top:30px;
	}
	.main-title h2{
		font-size:30px;
	}
	.strength-list ul li{
		width:calc(50% - 15px);
		margin-right:30px;
		height:340px;
	}
	
	.product-list li,
	.solutions-item{
		width:calc(50% - 10px);
		margin-right:20px;
	}
	.strength-list ul li:nth-of-type(2n),
	.product-list li:nth-of-type(2n),
	.solutions-item:nth-of-type(2n){
		margin-right:0px;
	}
	.advantages-item1 .advantages-img{
		width:100%;
	}
	.advantages-item1 .advantages-img img{
		max-width: 400px;
		margin:0px auto;
	}
	.advantages-info{
		width:100%;
		padding-top:40px;
	}
	.advantages-text:nth-of-type(1), .advantages-text:nth-of-type(2),
	.advantages-text:nth-of-type(3), .advantages-text:nth-of-type(4),
	.advantages-text:nth-of-type(5){
		margin-left:0px;
	}
	.foote-left{
		width:100%;
	}
	.footer-top-right{
		float:left;
		width:100%;
		margin-bottom: 20px;
		padding-left:20px;
		
	}
	.footer-top-right dl dd{
		margin-right:20px;
	}
	
	.footer-top-left{
		float:left;
		width:100%;
		margin-right:0px;
		border-right:0px;
		padding-right:0px;
		padding-left:20px;
	}
	.news-box1{
		width:100%;
		margin-right:0px;
	}
	.sub-title{
		padding-top:20px;
		padding-bottom: 15px;
	}
	.sub-title h1{
		font-size:18px;
	}
	.sub-title p{
		margin-top:3px;
		font-size:13px;
	}
	.sub-news-item .sub-news-img{
		width:160px;
	}
	.sub-news-item .sub-news-info{
		width:calc(100% - 160px);
	}
	.sub-news-title a{
		height:25px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	/*产品中心详情页*/
	.product-part1{
		padding:50px 0px;
	}
	.pro-part1-lBox{
		width:85%;
	}
	.pro-part1-rBox{
		width:13%;
	}
	
	.pro-part1-lBox .tit-box .pro-name{
		font-size: 32px;
	}
	.pro-part1-lBox .tit-box .pro-text{
		font-size:14px;
	}
	.pro-part1-v-box{
		font-size: 14px;
	}
	.pro-part2-rBox .pro-part2-title{
		font-size:26px;
	}
	.product-part3{
		padding:50px 0px;
		height:auto;
	}
	.pro-part3-title{
		margin-top:20px;
		font-size:26px;
	}
	.pro-part3-info{
		font-size:16px;
		margin-top:10px;
		margin-bottom: 40px;
	}
	.pro-part3-video{
		width:260px;
		height:60px;
		line-height: 0px;
	}
	
	.pro-part3-video span{
		line-height: 54px;
	}
	.pro-part3-video .sj{
		height:54px;
	}
	.pro-part4-title,
	.pro-part5-title{
		font-size: 26px;
	}
	.pro-part6-title,
	.pro-part7-title,
	.pro-part8-title{
		font-size: 26px;
    	margin-bottom: 10px;
	}
	.product-part4{
		background-size:100% 100%;
		padding-top:0px;
	}
	.pro-part4-lBox{
		width:100%;
		margin-bottom: 30px;
	}
	.pro-part4-lBox img{
		margin:0px auto;
	}
	.pro-part4-icon-box ul li .name{
		font-size:14px;
	}
	.pro-part4-rBox,
	.pro-part5-rBox,
	.pro-part5-lBox{
		width:100%;
	}
	.pro-part5-lBox .pd{
		padding-top:30px;
	}
	.pro-part5-rBox img{
		position: static;
		max-width: 100%;
		margin:0px auto;
	}
	.pro-part5-imgs li img{
		margin:0px auto;
	}
	.pro-video-box{
		height:auto;
		width:100%;
	}
	.pro-video-box .pro-video{
		position: static;
	    width: 100%;
	    height: auto;
	    margin:0 auto;
	}
	
	.product-part7{
		padding:50px 0px;
	}
	.pro-part7-imgs{
		margin-bottom: 40px;
	}
	.pro-part7-imgs-item{
		width:32%;
		margin:10px 2% 10px 0px;
		float:left;
	}
	.pro-part7-imgs-item .img-box{
		margin:0px auto 5px;
	}
	.pro-part7-imgs-item .text{
		text-align: center;
		margin-right: 0px;
		width:100%;
	}
	.pro-part7-imgs-item:nth-of-type(3){
		margin-right:0px;
		
	}
	.pro-part8-lBox{
		width:100%;
	}
	.pro-part8-lBox .pd{
		padding-top:50px;
	}
	.pro-part8-btn a{
		width:160px;
		height:50px;
		font-size:18px;
		line-height: 50px;
	}
	/*产品详情end*/
	.sub-show-list ul li{
		width:49%;
		margin-right:2%;
	}
	.sub-show-list ul li:nth-of-type(3n){
		margin-right:2%;
	}
	.sub-show-list ul li:nth-of-type(2n){
		margin-right:0px;
	}
	.pro-crumb-left,
	.pro-crumb-right{
		width:100%;
	}
	
	.product-part9 .imglist a{
		width:calc(50% - 10px);
		margin-right:20px;
	}
	.product-part9 .imglist a:nth-of-type(3n){
		margin-right: 20px;
	}
	.product-part9 .imglist a:nth-of-type(2n){
		margin-right: 0px;
	}
	.sample .imglist a {
		width:calc(50% - 10px);
		margin-right:20px;
	}
	
	.sample .imglist a:nth-of-type(3n) {
		margin-right: 20px;
	}
	
	.sample .imglist a:nth-of-type(2n) {
		margin-right: 0px;
	}
	.p-js-img{
		width:100%;
		margin-right:0px;
	}
	.p-js-word{
		width:100%;
	}
	.proinfo-title{
		max-width: 96%;
		margin:0px auto 20px;
	}
	.proinfo-title p.eng{
		line-height: 30px;
	}
	.proinfo-title:before,
	.proinfo-title:after{
		top:15px;
	}
	.proinfo-title p.china{
		font-size:22px;
		line-height: 30px;
		padding-bottom: 7px;
	}
	.foote-left{
		width:100%;
	}
	.footer-l-list dl{
		width:50%;
		margin-bottom: 10px;
	}
	.footer-l-list dl dd{
		float:left;
		margin-right:20px;
	}
	.footer-right{
		display: none;
	}
	/* 新增 */
	.product-titlist .container{
		width:100%;
		margin:0px;
	}
	.product-titlist ul{
		justify-content: space-around;
	}
	.product-titlist ul li{
		width:auto;
	}
	.product-titlist ul li span{
		padding:0px 5px;
		font-size:13px;
		width:auto;
	}
	#product-box1, #product-box2, #product-box3, #product-box4{
		padding:0px 40px;
	}
	.pro-item{
		border-width: 4px;
	}
	.product-titlist{
		margin-bottom: 20px;
	}
	.productBox{
		height: 350px;
	}
	#product-box1 .owl-controls .owl-buttons div, #product-box2 .owl-controls .owl-buttons div, #product-box3 .owl-controls .owl-buttons div, #product-box4 .owl-controls .owl-buttons div{
		width:30px;
		height: 30px;
		margin-top:-15px;
	}}
@media (max-width:540px){
	.sub-banner, .banner-fluid{
		margin-top:65px;
	}
	.strength-fluid,
	.product-fluid{
		padding-bottom: 0px;
	}
	.solutions-fluid{
		padding-bottom: 20px;
	}
	.strength-list ul li{
		width:100%;
		margin:0px;
		margin-bottom: 30px;
		height:auto;
	}
	.strength-info .strength-t{
		margin-top:20px;
	}
	
	.header-fluid{
		height:65px;
	}
	.header .logo{
		margin-top:10px;
	}
	.header .logo img{
		height:45px;
	}
	.daohang i.iconfont{
		line-height: 65px;
	}
	.nav{
		top:65px;
	}
	.main-title{
		padding:30px 15px 20px;
	}
	.main-title h2{
		font-size:24px;
	}
	.main-title p{
		font-size:14px;
		line-height: 20px;
		margin-top:10px;
		
	}
	.productBox {
		height: 320px;
	}
	.product-list{
		margin-top:30px;
	}
	.pro-info .pro-w{
		padding:0px 10px;
	}
	.pro-info .pro-t{
		font-size:15px;
		margin:10px 0px;		
	}
	.pro-info .pro-w{
		margin-bottom: 10px;
	}
	.fg-fluid{
		padding:30px 0px;		
		background:#23283d;
	}
	.fg-fluid h3{
		font-size:24px;
		/*margin-bottom: 15px;*/		margin-bottom: 0px;
	}
	.fg-fluid p{
		font-size:15px;
		line-height: 28px;
	}	.ab-tit p{		font-size: 14px;    	line-height: 20px;	}
	.fg-more{
		margin-bottom: 10px;
		padding:5px 25px;
		margin-top:10px;
	}
	.advantages-fluid{
		padding:30px 0px 0px;
	}
	.advantages-title{
		padding:0px 10px;
	}
	.advantages-title .adv-t{
		font-size:24px;
	}
	
	.advantages-title .adv-t span{
		font-size:26px;
	}
	.advantages-title .adv-e{
		letter-spacing: 10px;
	}
	.advantages-title .adv-bg{
		width:100%;
		background-size:100% 100%;
		margin-bottom: 10px;
	}
	.advantages-item1{
		padding-top: 20px;
	}
	.advantages-info{
		padding-left:10px;
	}
	.advantages-text .advantages-num{
		width:50px;
		height:50px;
		line-height: 50px;
		font-size:30px;
	}
	.advantages-text .advantages-w{
		padding-left:65px;
	}
	.advantages-text .advantages-w .advantages-w-title{
		font-size:20px;
	}
	.news-fluid{
		padding:30px 0px;
	}
	.sub-r-contact-box1 dl dt{
		width:100%;
		margin-bottom: 20px;
	}
	.sub-r-contact-box1 dl dd{
		width:100%;
	}
	.sub-news-item .sub-news-img{
		width:130px;
	}
	.sub-news-item .sub-news-info{
		width:calc(100% - 130px);
		padding-left:15px;
	}
	.sub-news-title{
		margin-bottom: 5px;
	}
	.sub-news-title a{
		height:20px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-size:16px;
		line-height: 20px;
	}
	.sub-news-p{
		line-height: 20px;
		height: 40px;
	}
	.sub-news-date{
		margin-top:8px;
	}
	.sub-news-date p{
		line-height: 20px;
		font-size:13px;
	}
	.sub-r-news-list ul li{
		width:calc(100% - 20px);
		
	}
	.sub-product-list ul li,
	.sub-product-list ul li:nth-of-type(3n){
		width:calc(50% - 8px);
		margin-right:16px;
		margin-top:20px;
	}
	.sub-product-list ul li:nth-of-type(2n){
		margin-right:0px;
	}
	.sub-product-list ul li .pro-info .pro-t{
		font-size:14px;
	}
	/*产品详情页*/
	.pro-part3-title,.pro-part4-title, .pro-part5-title{
		font-size:22px;
	}
	.product-part6{
		padding-top:40px;
		padding-bottom: 30px;
	}
	.pro-part6-title, .pro-part7-title, .pro-part8-title{
		font-size:22px;
	}
	.pro-part6-imgs ul{
		display: block;
		width:100%;
	}
	.pro-part6-imgs ul li{
		float:left;
		width:32%;
		margin-left:0px;
		margin-right:2%;
	}
	.pro-part6-imgs ul li:nth-of-type(3n){
		margin-right:0px;
	}
	.product-part8{
		padding-bottom: 50px;
	}
	.pro-part6-info{
		margin-bottom: 15px;
	}
	.sub-solution-img,
	.sub-solution-info{
		width:100%;
		
	}
	.footer-l-list dl{
		width:100%;
	}
	.ab-tit{
		padding-bottom: 15px;
	}
	.news-box1-item .news-box1-item-img{
		width:100px;
	}
	.news-box1-item .news-box1-item-img img{
		height: auto;
	}
	.news-box1-item-info{
		width:calc(100% - 110px);
	}
	.news-box1-item-info p.t{
		height: 40px;
	}
	.solutions-info .solutions-t{
		font-size:13px;
	}
	.solutions-item{
		margin-bottom: 10px;
	}
	.solutions-info .solutions-t{
		margin-top: 5px;
	}
	.pro-crumb-left ul li a{
		padding:0px 8px;
		font-size:13px;
	}}
@media  (max-width: 330px){
	.part-box ul{
		padding:15px 0px;
	}
	.product-titlist ul li span{
		font-size:12px;
	}
	.productBox{
		height: 270px;
	}
	.ab-tit{
		padding-bottom: 20px;
	}
	.fg-fluid h3{
		margin-bottom: 10px;
	}
	.part-box ul li .part-w .num b{
		right: -15px;
	}
	.part-box ul li .part-w .num{
		font-size:20px;
	}
	.part-box ul li .part-text{
		font-size: 12px;
	}
	.solutions-info .solutions-t{
		font-size: 13px;
	}
	.advantages-title .adv-bg{
		font-size:20px;
	}
	.advantages-text .advantages-w .advantages-w-word{
		font-size:12px;
	}
	.fg-fluid p{
		font-size:14px;
		line-height: 1.8;
	}}
