.container {
    width: 1300px;
    margin: 0 auto;
}

.header-fluid {
    background: #fff;
    width: 100%;
    height: 90px;
    position: relative
}

.header .logo {
    float: left;
    margin-top: 15px
}

.header .logo img {
    height: 60px
}

.header .nav {
    float: right
}

.nav-list>ul>li {
    float: left;
    font-size: 16px
}

.nav-list>ul>li>a {
    display: block;
    color: #333;
    line-height: 40px;
    padding: 0 15px;
    margin-top: 25px
}

.nav-list>ul>li.active>a,.nav-list>ul>li>a:hover {
    color: #e97609
}

.header .tel{float: right; width: 250px; height: 60px; margin-top: 15px; /*background: #ccc;*/}
.header .tel>img{width:100%;}
.daohang {
    float: right;
    display: none;
    cursor: pointer
}

.daohang i.iconfont {
    font-size: 30px;
    line-height: 90px;
    color: #000
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.banner img {
    width: 100%
}

.banner .owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 50px;
    padding: 0;
    margin: 0;
    margin-top: -32px;
    border-radius: 0;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s
}

.banner .owl-theme .owl-controls .owl-buttons .owl-prev {
    background-image: url(../../../templates/jinlaser/images/cimg03.png);
    background-repeat: no-repeat;
    left: -100px;
    background-position: 4px 6px
}

.banner:hover .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 0
}

.banner .owl-theme .owl-controls .owl-buttons .owl-next {
    right: -100px;
    background-image: url(../../../templates/jinlaser/images/cimg04.png);
    background-repeat: no-repeat;
    background-position: 8px 6px
}

.banner:hover .owl-theme .owl-controls .owl-buttons .owl-next {
    right: 0
}

.banner .owl-theme .owl-controls {
    margin-top: 0
}

.banner .owl-theme .owl-controls .owl-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center
}

.banner .owl-theme .owl-controls .owl-page span {
    background: #fff;
    opacity: 1;
    border: 1px solid #e97609
}

.banner .owl-theme .owl-controls .owl-page.active span {
    background: #e97609;
    width: 30px
}

.main-title {
    text-align: center;
    padding: 66px 0 34px
}

.main-title h2 {
    font-size: 38px;
    font-weight: normal
}

.main-title p {
    font-size: 18px;
    color: #676a72;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px
}

.product-fluid {
    background: #fff
}

.product-list {
    margin-top: 50px
}

.product-list li {
    float: left;
    width: calc(25% - 15px);
    margin-right: 20px;
    margin-bottom: 30px
}

.product-list li:nth-of-type(4n) {
    margin-right: 0
}

.pro-item {
    display: block;
    padding: 10px 10px 15px 10px;
    border: 1px solid #f1f1f1;
    background: #f8f8f8;
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s
}

.pro-item:hover {
    box-shadow: 0 0 10px #666;
    transform: translateY(-20px)
}

.pro-item .pro-img {
    width: 100%
}

.pro-item .pro-img img {
    display: block;
    border: 0;
    width: 100%;
    height: 250px
}

.pro-info .pro-t {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0;
    text-align: center;
    height: 22px;
    line-height: 22px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.pro-info .pro-w {
    padding: 0 40px;
    font-size: 14px;
    color: #999;
    line-height: 22px;
    text-align: center;
    height: 44px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 20px
}

.pro-span {
    display: block;
    width: 98px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #333;
    border: 1px solid #666;
    font-size: 14px;
    margin: 0 auto;
    -webkit-transition: color,background-color .2s ease-in 0s;
    -moz-transition: color,background-color .2s ease-in 0s;
    transition: color,background-color .2s ease-in 0s
}

.pro-item:hover .pro-span {
    background: #e97609;
    color: #fff;
    border: 1px solid #e97609
}

.strength-fluid {
    padding-bottom: 60px;
    background: #f6f6f6
}

.strength-list ul li {
    float: left;
    width: calc(25% - 15px);
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    height: 410px;
    cursor: pointer;
    transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    margin: 30px 20px 30px 0
}

.strength-list ul li:hover {
    transform: translateY(-20px);
    box-shadow: 0 12px 32px #999
}

.strength-list ul li:nth-of-type(4n) {
    margin-right: 0
}

.strength-icon {
    width: 138px;
    height: 138px;
    margin: 0 auto;
    position: relative
}

.strength-icon:before {
    content: "";
    width: 138px;
    height: 138px;
    background: url(../../../templates/jinlaser/images/ic-bg.png) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s
}

.strength-list ul li:hover .strength-icon:before {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}

.strength-icon img {
    width: 46px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -20px;
    transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s
}

.strength-list ul li:hover .strength-icon img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2)
}

.strength-info .strength-t {
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: 18px;
    color: #2b2b2b;
    overflow: hidden
}

.strength-info .strength-t:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 38px;
    margin-left: -19px;
    height: 1px;
    background: #d5d5d5
}

.strength-info .strength-w {
    color: #848484;
    font-size: 13px;
    line-height: 24px;
    overflow: hidden;
    width: 100%
}

.fg-fluid {
    width: 100%;
    padding: 60px 0;
    background: #2665ac;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#294178),color-stop(100%,#2288df));
    background: -webkit-linear-gradient(top,#294178 0,#2288df 100%);
    background: -ms-linear-gradient(top,#294178 0,#2288df 100%);
    background: -webkit-linear-gradient(top,#294178,#2288df);
    background: linear-gradient(to bottom,#294178,#2288df);
    background: url(../../../templates/jinlaser/images/bg-fs8.png) no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-size: 12px;
    text-align: center
}

.ab-tit {
    text-align: center;
    padding-bottom: 34px
}

.ab-tit h3 {
    font-size: 38px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 0
}

.fg-fluid h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 0 auto 30px;
    line-height: 30px;
    text-align: left;
    text-indent: 2em
}

.fg-more {
    text-align: center;
    color: #009aff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    padding: 10px 25px;
    font-size: 18px;
    color: #fff
}

.fg-more:hover {
    background: #090d19;
    color: #fff
}

.fg-fluid p {
    font-size: 16px;
    margin-bottom: 10px;
    text-indent: 2em;
    text-align: left;
    line-height: 30px
}

.ab-tit p {
    font-size: 18px;
    color: #ddd;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
    text-indent: 0;
    margin-bottom: 0
}

.advantages-fluid {
    padding: 60px 0;
    background: #fff
}

.advantages-title {
    text-align: center
}

.advantages-title .adv-t {
    font-size: 32px;
    color: #111;
    text-align: center
}

.advantages-title .adv-t span {
    font-size: 36px;
    color: #e97609
}

.advantages-title .adv-e {
    margin: 15px 0;
    font-size: 12px;
    font-weight: normal;
    color: #111;
    text-align: center;
    letter-spacing: 25px
}

.advantages-title .adv-bg {
    height: 44px;
    line-height: 44px;
    margin-bottom: 43px;
    background-image: url(../../../templates/jinlaser/images/ys_title_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 24px;
    color: #fff;
    text-align: center
}

.advantages-item1 {
    padding-top: 40px;
    padding-bottom: 20px
}

.advantages-item1 .advantages-img {
    float: left;
    width: 45%
}

.advantages-item1 .advantages-img img {
    width: 100%
}

.advantages-info {
    float: right;
    width: 55%;
    padding-left: 50px
}

.advantages-text {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    min-height: 90px
}

.advantages-text .advantages-num {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    font-size: 40px;
    color: #FFF;
    line-height: 70px;
    text-align: center;
    background: #e97609;
    border-radius: 5px
}

.advantages-text .advantages-w {
    padding-left: 90px
}

.advantages-text .advantages-w .advantages-w-title {
    color: #e97609;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px
}

.advantages-text .advantages-w .advantages-w-word {
    font-size: 14px;
    line-height: 20px;
    color: #333
}

.advantages-text:nth-of-type(1),.advantages-text:nth-of-type(5) {
    margin-left: -80px
}

.advantages-text:nth-of-type(2),.advantages-text:nth-of-type(4) {
    margin-left: -40px
}

.advantages-text:nth-of-type(3) {
    margin-left: 0
}

.solutions-fluid {
    padding-bottom: 60px;
    background: #f8f8f8
}

.solutions-item {
    float: left;
    width: calc(25% - 15px);
    margin-right: 20px;
    margin-bottom: 20px
}

.solutions-item:nth-of-type(4n) {
    margin-right: 0
}

.solutions-img {
    position: relative;
    overflow: hidden;
    width: 100%
}

.solutions-img img {
    width: 100%;
    display: block
}

.solutions-img .s-border {
    width: calc(100%+20px);
    height: calc(100%+20px);
    position: absolute;
    left: -10px;
    top: -10px;
    border: rgba(255,255,255,.6) 1px solid;
    transition: all ease-out .2s
}

.solutions-item:hover .solutions-img .s-border {
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    left: 10px;
    top: 10px
}

.solutions-info .solutions-t {
    height: 24px;
    line-height: 24px;
    margin-top: 12px;
    color: #5b5b5b;
    font-size: 15px;
    text-align: center
}

.solutions-item:hover .solutions-info .solutions-t {
    color: #e97609
}

.news-fluid {
    padding: 60px 0;
    background: #f5f5f5
}

.news-box1,.news-box2 {
    float: left;
    width: 32%;
    margin-right: 2%;
    background: #fff;
    padding: 0 20px 15px 20px;
    min-height: 375px
}

.news-box2 {
    margin-right: 0
}

.news-box-title {
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid #e7e7e7
}

.news-box-title h2 {
    float: left;
    font-size: 18px;
    font-weight: normal;
    color: #1f2326
}

.news-box-title a {
    float: right;
    color: #999;
    font-size: 14px;
    text-transform: uppercase
}

.news-box-title a:hover {
    color: #e97609
}

.news-box1-item {
    padding-top: 20px;
    overflow: hidden
}

.news-box1-item .news-box1-item-img {
    float: left;
    width: 180px
}

.news-box1-item .news-box1-item-img img {
    width: 100%;
    height: 120px
}

.news-box1-item-info {
    float: right;
    width: calc(100% - 190px)
}

.news-box1-item-info h3 {
    width: 100%;
    height: 25px
}

.news-box1-item-info h3 a {
    display: block;
    width: 100%;
    height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 25px
}

.news-box1-item-info h3 a:hover {
    color: #e97609
}

.news-box1-item-info p.t {
    width: 100%;
    max-height: 60px;
    line-height: 20px;
    float: left;
    color: #888;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px
}

.news-more {
    color: #e97609;
    width: 100%;
    height: 20px;
    float: left;
    overflow: hidden;
    display: block;
    font-size: 12px
}

.news-box1-list ul {
    margin-top: 8px
}

.news-box1-list ul li a {
    float: left;
    width: calc(100% - 85px);
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 32px;
    font-size: 14px;
    color: #666
}

.news-box1-list ul li a:hover {
    color: #e97609
}

.news-box1-list ul li span {
    float: right;
    line-height: 32px;
    display: block;
    width: 80px;
    text-align: right;
    color: #999;
    font-size: 13px
}

.news-box2-list dl {
    padding: 20px 0;
    border-bottom: 1px dashed #ddd
}

.news-box2-list dl dt,.news-box2-list dl dd {
    position: relative
}

.news-box2-list dl dt {
    margin-bottom: 11px;
    overflow: hidden
}

.news-box2-list dl dt em,.news-box2-list dl dd em {
    display: block;
    width: 24px;
    height: 24px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    font-style: normal
}

.news-box2-list dl dt a,.news-box2-list dl dd p {
    display: block;
    padding-left: 40px;
    line-height: 24px
}

.news-box2-list dl dt a {
    font-size: 16px
}

.news-box2-list dl dt a:hover {
    color: #e97609;
    text-decoration: underline
}

.news-box2-list dl dd em {
    background: #e97609
}

.cbxf {
    width: 60px;
    position: fixed;
    right: 5px;
    bottom: 180px;
    overflow: visible;
    z-index: 999
}

.cbxf1 {
    width: 60px;
    height: 60px;
    border: 1px solid #e2e2e2;
    background: #e97609
}

.cbxf1 a {
    display: block;
    width: 100%;
    height: 100%
}

.cbxf1 a i.iconfont {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    height: 37px
}

.cbxf1 a span {
    color: #fff;
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: center
}

.cbxf2 {
    width: 60px;
    height: 60px;
    border: 1px solid #e2e2e2;
    background: #fff;
    position: relative;
    margin-top: 2px;
    overflow: visible
}

.cbxf2-div {
    background: #fff;
    border: 1px solid #ddd;
    width: 250px;
    position: absolute;
    right: 60px;
    top: -94px;
    border-radius: 20px;
    display: none
}

.cbxf2:hover .cbxf2-div {
    display: block
}

.cbxf2 a {
    display: block;
    width: 100%;
    height: 100%
}

.cbxf2 i.iconfont {
    color: #929395;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    height: 37px
}

.cbxf2 span {
    color: #929395;
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: center
}

.cbxf2:hover {
    background: #e97609
}

.cbxf2:hover i.iconfont,.cbxf2:hover span {
    color: #fff
}

.cbxf2-div {
    padding: 15px
}

.cbxf2-form-title {
    text-align: center;
    margin-bottom: 15px
}

.cbxf2-form-title h2 {
    font-size: 18px
}

.cbxf2-form .cbxf2-form-dl1 {
    line-height: 32px;
    margin-bottom: 15px
}

.cbxf2-form .cbxf2-form-dl1 dt {
    float: left;
    width: 42px
}

.cbxf2-form .cbxf2-form-dl1 dd input[type=text] {
    width: 95px;
    height: 32px;
    border: 1px solid #ddd;
    float: left;
    text-indent: 10px;
    color: #666;
    font-size: 14px;
    line-height: 32px
}

.cbxf2-form .cbxf2-form-dl1 dd .cbxf2-form-select {
    width: 75px;
    height: 32px;
    border: 1px solid #ddd;
    float: right;
    text-indent: 5px;
    color: #333;
    font-size: 14px;
    line-height: 32px;
    box-sizing: inherit
}

.cbxf2-form .cbxf2-form-dl1 dd input[type=text]:focus,.cbxf2-form .cbxf2-form-dl2 dd input[type=text]:focus,.cbxf2-form .cbxf2-form-dl1 dd .cbxf2-form-select:focus {
    border: 1px solid #e97609
}

.cbxf2-form .cbxf2-form-dl2 {
    line-height: 32px;
    margin-bottom: 15px
}

.cbxf2-form .cbxf2-form-dl2 dt {
    float: left;
    width: 42px
}

.cbxf2-form .cbxf2-form-dl2 dd input[type=text] {
    width: calc(100% - 42px);
    height: 32px;
    border: 1px solid #ddd;
    float: left;
    text-indent: 10px;
    color: #666;
    font-size: 14px;
    line-height: 32px
}

.cbxf2-form-btn {
    width: 100%
}

.cbxf2-form-btn input[type=submit] {
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    background: #e97609;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    border: 0;
    margin: 15px auto;
    cursor: pointer
}

.cbxf2-form-1d {
    font-size: 12px;
    color: #e97609;
    text-align: center
}

.cbxf2-ewm {
    position: absolute;
    top: 0;
    right: 60px;
    background: #fff;
    border: 1px solid #ddd;
    width: 140px;
    display: none;
    z-index: 999
}

.cbxf2:hover .cbxf2-ewm {
    display: block
}

.cbxf2-ewm img {
    width: 140px;
    height: 140px;
    padding: 10px;
    margin: 0 auto;
    padding-bottom: 5px
}

.cbxf2-ewm p {
    padding: 0 10px;
    font-size: 14px;
    padding-bottom: 10px;
    text-align: center
}

.cbxf2-form-textarea {
    width: 100%
}

.cbxf2-form-textarea dt {
    float: left;
    width: 42px
}

.cbxf2-form-textarea textarea {
    height: 50px;
    border: 1px solid #ddd;
    width: calc(100% - 42px);
    padding: 5px
}

.cbxf2-form-textarea textarea:focus {
    border: 1px solid #e97609
}

.bottom-fluid {
    background: #262024;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 6px 0;
    display: none;
    z-index: 999
}

.bottom-fluid ul li {
    float: left;
    width: 25%;
    text-align: center
}

.bottom-fluid ul li a {
    color: #fff
}

.bottom-fluid ul li i.iconfont {
    font-size: 25px
}

.bottom-fluid ul li p {
    font-size: 12px
}

.bottoming-form {
    position: fixed;
    bottom: 64px;
    left: 0;
    width: 100%;
    display: none
}

.bottoming-form .bottoming-form-title h2 {
    text-align: center;
    color: #fff;
    letter-spacing: 4px;
    margin-bottom: 20px;
    font-weight: normal
}

.bottoming-form dl {
    margin-bottom: 10px
}

.bottoming-form dl dt {
    float: left;
    line-height: 30px
}

.bottoming-form dl input[type=text] {
    float: right;
    width: calc(100% - 75px);
    height: 30px;
    border: 1px solid #ddd;
    padding: 0 5px
}

.bottoming-form dl input[type=text]:focus {
    border: 1px solid #e97609
}

.bottom-btn {
    padding-left: 75px
}

.bottom-btn input[type=submit] {
    width: 100%;
    color: #fff;
    border: 0;
    line-height: 35px;
    background: #e97609;
    font-size: 16px;
    border: 1px solid #e97609
}

.bottoming-formBox {
    position: relative;
    background: #262024;
    padding: 15px 25px;
    width: 100%;
    color: #fff;
    padding-top: 25px
}

.bottoming-close {
    position: absolute;
    top: 0;
    right: 7px
}

.sub-banner img {
    width: 100%
}

.sub-content {
    margin-top: 40px;
    padding-bottom: 60px
}

.sub-left {
    float: left;
    width: 250px
}

.mode1 {
    margin-bottom: 20px
}

.mode-title {
    background: #e97609;
    color: #FFf;
    font-size: 17px;
    text-align: center;
    line-height: 45px;
    font-weight: bold
}

.mode1-con {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff
}

.mode1-con ul li {
    border-bottom: 1px dashed #ddd;
    line-height: 40px;
    text-align: center
}

.mode1-con ul li:last-of-type {
    border-bottom: 0
}

.mode1-con ul li a {
    display: block;
    font-size: 15px;
    color: #555
}

.mode1-con ul li a i.iconfont {
    display: none;
    font-size: 14px;
    padding-right: 5px;
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s
}

.mode1-con ul li.active a,.mode1-con ul li a:hover {
    color: #e97609
}

.mode1-con ul li.active a i.iconfont,.mode1-con ul li a:hover i.iconfont {
    display: inline
}

.mode2-con {
    padding: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff
}

.mode2-con img {
    width: 100%;
    margin-bottom: 10px
}

.mode2-con p {
    line-height: 27px;
    font-size: 13px;
    color: #555
}

.sub-right {
    width: calc(100% - 250px);
    padding-left: 40px;
    float: right
}

.crumb {
    border: 1px solid #ddd;
    border-top: 2px solid #e97609;
    line-height: 30px;
    padding: 5px 0;
    margin-bottom: 10px;
    padding-left: 10px
}

.crumb a:hover {
    color: #e97609
}

.crumb i.iconfont {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 4px
}

.sub-title {
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center
}

.sub-title h1 {
    font-size: 20px
}

.sub-title p {
    font-size: 14px;
    margin-top: 10px;
    color: #666
}

.sub-r-info {
    padding-bottom: 20px
}

.sub-r-info p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 25px
}

.sub-r-info img {
    display: inline-block
}

.sub-link {
    border-top: 1px dashed #ddd;
    padding: 10px 0;
    border-bottom: 1px dashed #ddd;
    margin-top: 20px;
    margin-bottom: 20px
}

.sub-link p {
    line-height: 30px
}

.sub-link a:hover {
    text-decoration: underline;
    color: #e97609
}

.sub-r-title {
    border: 1px solid #ddd;
    border-top: 2px solid #e97609;
    line-height: 30px;
    padding: 5px 0;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #e97609;
    font-size: 16px;
    font-weight: bold
}

.sub-r-news-list ul li {
    float: left;
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px dashed #ddd;
    padding: 5px 0
}

.sub-r-news-list ul li a {
    float: left;
    display: block;
    width: calc(100% - 85px);
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #555
}

.sub-r-news-list ul li a:hover {
    color: #e97609
}

.sub-r-news-list ul li span {
    float: right;
    color: #555;
    line-height: 30px
}

.sub-r-contact {
    margin-bottom: 40px
}

.sub-r-contact h2 {
    font-size: 20px;
    line-height: 40px;
    position: relative;
    padding-left: 15px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px
}

.sub-r-contact h2:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 3px;
    height: 20px;
    display: block;
    background: #202020;
    border-radius: 20px;
    overflow: hidden
}

.sub-r-contact-box1 {
    padding: 10px 0
}

.sub-r-contact-box1 dl dt {
    float: left;
    width: 70%
}

.sub-r-contact-box1 dl {
    padding-left: 20px
}

.sub-r-contact-box1 dl dt h3 {
    font-size: 16px;
    color: #222;
    line-height: 30px;
    font-weight: bold
}

.sub-r-contact-box1 dl dt p {
    line-height: 30px
}

.sub-r-contact-box1 dl dt a {
    color: #e97609
}

.sub-r-contact-box1 dl dt a:hover {
    color: #0a8
}

.sub-r-contact-box1 dl dd {
    float: left;
    width: 30%;
    text-align: center
}

.sub-r-contact-box1 dl dd img {
    width: 120px;
    margin: 10px auto
}

.sub-news {
    margin-bottom: 30px
}

.sub-news-item {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s
}

.sub-news-item .sub-news-img {
    float: left;
    width: 220px
}

.sub-news-item .sub-news-img img {
    width: 100%;
    min-height: 90px
}

.sub-news-item .sub-news-info {
    float: left;
    width: calc(100% - 220px);
    padding-left: 20px
}

.sub-news-title {
    font-weight: bold;
    margin-bottom: 10px
}

.sub-news-title a {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 25px;
    max-height: 50px;
    overflow: hidden;
    display: block
}

.sub-news-item:hover {
    box-shadow: 0 3px 3px #999
}

.sub-news-item:hover .sub-news-title a {
    color: #e97609
}

.sub-news-p {
    color: #000;
    line-height: 25px;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden
}

.sub-news-date {
    margin-top: 10px
}

.sub-news-date p {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 20px;
    color: #888;
    position: relative;
    padding-left: 25px;
    line-height: 25px;
    font-size: 14px
}

.sub-news-date p i.iconfont {
    color: #b2b2b2;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0
}

.sub-news-more {
    margin-top: 10px
}

.sub-news-more a {
    display: block;
    width: 100px;
    line-height: 30px;
    text-align: center;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    -webkit-transition: color,background-color .2s ease-in 0s;
    -moz-transition: color,background-color .2s ease-in 0s;
    transition: color,background-color .2s ease-in 0s
}

.sub-news-more a:hover {
    background: #e97609;
    color: #fff;
    border: 1px solid #e97609
}

.pages {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px
}

.pages a,.pages span {
    display: inline-block;
    padding: 0 8px;
    height: 35px;
    line-height: 35px;
    margin: 0 2px 0 2px;
    border: 1px solid #e2e2e2;
    text-decoration: none;
    color: #333;
    min-width: 35px
}

.pages span,.pages a:hover {
    background: #1b83e6;
    color: #fff
}

.sub-product-list {
    margin-bottom: 30px
}

.sub-product-list ul li {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-top: 30px
}

.sub-product-list ul li:nth-of-type(3n) {
    margin-right: 0
}

.sub-product-list ul li .pro-info .pro-t {
    margin-bottom: 0;
    font-size: 16px
}

.sub-product-list ul li .pro-item:hover {
    box-shadow: 0 0 10px #666;
    background: #e97609;
    color: #fff;
    transform: translateY(-10px)
}

.sub-show-list {
    margin-bottom: 30px
}

.sub-show-list ul li {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-top: 20px
}

.sub-show-list ul li:nth-of-type(3n) {
    margin-right: 0
}

.sub-show-item .sub-show-pic {
    width: 100%;
    overflow: hidden
}

.sub-show-item .sub-show-pic img {
    width: 100%;
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s
}

.sub-show-item:hover .sub-show-pic img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1)
}

.sub-show-info {
    height: 76px;
    padding-top: 15px;
    padding-bottom: 10px;
    transition: all .6s cubic-bezier(0.215,0.61,0.355,1) 0s;
    margin-bottom: 15px
}

.sub-show-info .sub-show-info-tit {
    text-align: center;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.sub-show-item:hover .sub-show-info {
    padding-top: 10px;
    border-bottom: 3px solid #696969;
    transition: all .6s cubic-bezier(0.215,0.61,0.355,1) 0s;
    width: 100%
}

.sub-show-info-description {
    color: #888;
    margin-top: 0;
    height: 26px;
    line-height: 26px;
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    font-size: 13px
}

.sub-banner {
    background: url(../../../templates/jinlaser/images/sub-banner.png) no-repeat center center;
    width: 100%;
    position: relative;
    padding: 80px 0;
    color: #fff;
    font-size: 12px;
    text-align: center
}

.sub-banner-info .sub-china {
    font-size: 38px
}

.sub-banner-info .sub-eng {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: "Comic Sans MS","calibri","Arial","Verdana","Trebuchet MS","Georgia","consolas","Andale Mono","Arial","Microsoft YaHei","黑体","宋体",sans-serif
}

.product-part1 {
    padding: 100px 0;
    background: #ededed
}

.pro-part1-lBox {
    width: 90%
}

.pro-part1-lBox .tit-box {
    text-align: center;
    margin-bottom: 20px
}

.pro-part1-lBox .tit-box .pro-name {
    font-size: 42px;
    color: #323335;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase
}

.pro-part1-lBox .tit-box .pro-text {
    font-size: 16px;
    color: #555
}

.pro-part1-lBox .tit-box .pro-line {
    height: 1px;
    width: 50%;
    margin: 15px auto;
    background: #d79795
}

.pro-part1-v-box {
    color: #b92022;
    font-size: 18px;
    line-height: 30px
}

.pro-part1-v-box a {
    color: #b92022;
    display: inline-block
}

.pro-part1-v-box .pro-part1-video {
    margin-right: 20px
}

.pro-part1-v-box .pro-part1-video span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../../../templates/jinlaser/images/_v.png) center center no-repeat;
    margin-left: 12px;
    vertical-align: middle
}

.pro-part1-v-box .pro-part1-zx span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../../../templates/jinlaser/images/_deg.png) center center no-repeat;
    margin-left: 5px;
    vertical-align: middle
}

.pro-part1-rBox {
    width: 8%
}

.pro-part1-rBox .simg_con li {
    margin-bottom: 12px;
    cursor: pointer
}

.pro-part1-rBox .simg_con .pd {
    padding: 34% 0;
    background: #ededed;
    border: 1px solid #dadada
}

.pro-part1-rBox .simg_con ul li.on .pd {
    border: 1px solid #b92025
}

.product-part2 {
    padding-top: 100px;
    background: #fff
}

.pro-part2-lBox {
    width: 50%
}

.pro-part2-rBox {
    width: 50%
}

.pro-part2-rBox .pd {
    padding-left: 50px;
    padding-right: 20px
}

.pro-part2-rBox .pro-part2-title {
    font-size: 35px;
    color: #525252;
    line-height: 1;
    margin-bottom: 20px
}

.pro-part2-rBox .pro-part2-desc {
    font-size: 15px;
    color: #7a7a7a;
    margin-bottom: 20px;
    line-height: 26px
}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td {
    line-height: 1.42857143;
    padding: 8px;
    vertical-align: inherit;
    border-top: 1px solid #ddd
}

.product-part3 {
    height: 620px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../templates/jinlaser/images/pro-part3-img.jpg)
}

.pro-part3-title {
    margin-top: 160px;
    font-size: 48px;
    color: #fff;
    text-align: center
}

.pro-part3-info {
    font-size: 28px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px
}

.pro-part3-video {
    text-align: center;
    width: 330px;
    height: 70px;
    border: 2px solid #d8d7d5;
    line-height: 64px;
    margin: 0 auto;
    cursor: pointer;
    position: relative
}

.pro-part3-video a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.pro-part3-video span {
    line-height: 64px;
    font-size: 24px;
    color: #fff;
    display: inline-block;
    vertical-align: middle
}

.pro-part3-video .sj {
    margin-right: 40px;
    height: 64px;
    width: 11px;
    background: url(../../../templates/jinlaser/images/sj.png) center center no-repeat
}

.product-part4 {
    padding: 100px 0 50px;
    height: 580px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../templates/jinlaser/images/pro-part4-img.jpg)
}

.pro-part4-lBox {
    width: 50%
}

.pro-part4-rBox {
    width: 50%
}

.pro-part4-rBox .pd {
    padding: 50px 20px 0 20px
}

.pro-part4-title {
    font-size: 42px;
    color: #000;
    margin-bottom: 10px
}

.pro-part4-info {
    font-size: 14px;
    color: #666;
    line-height: 30px;
    margin-bottom: 30px
}

.pro-part4-icon-box ul li {
    width: 30%;
    margin-right: 20px;
    text-align: center
}

.pro-part4-icon-box ul li .icon-img {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 70px;
    height: 70px;
    margin-bottom: 5px
}

.pro-part4-icon-box ul li .name {
    font-size: 18px;
    color: #484848;
    text-align: center
}

.product-part5 {
    background: #1d1d1f;
    height: 730px;
    overflow: hidden
}

.pro-part5-lBox {
    width: 50%
}

.pro-part5-lBox .pd {
    padding-top: 130px
}

.pro-part5-title {
    font-size: 42px;
    color: #fff;
    margin-bottom: 15px
}

.pro-part5-info {
    font-size: 14px;
    color: #fff;
    margin-bottom: 40px
}

.pro-part5-imgs li {
    width: 32%;
    float: left;
    margin-right: 2%
}

.pro-part5-imgs li:nth-of-type(3) {
    margin-right: 0
}

.pro-part5-rBox {
    width: 50%;
    position: relative
}

.pro-part5-rBox img {
    position: absolute;
    right: -100px;
    top: 50px;
    max-width: none
}

.product-part6 {
    padding-top: 90px;
    padding-bottom: 60px
}

.pro-part6-title {
    font-size: 42px;
    color: #000;
    margin-bottom: 20px;
    text-align: center
}

.pro-part6-info {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: center
}

.pro-part6-imgs {
    text-align: center;
    margin-bottom: 30px
}

.pro-part6-imgs ul {
    display: inline-block
}

.pro-part6-imgs ul li {
    display: inline-block;
    margin: 0 5px;
    width: 140px
}

.pro-part6-imgs ul li .img-box {
    margin-bottom: 10px;
    width: 85px;
    height: 85px;
    margin: 0 auto 10px;
    background-repeat: no-repeat
}

.pro-part6-imgs ul li .name {
    font-size: 14px;
    color: #666
}

.pro-part6-imgs ul li:hover .img-box {
    background-position: 0 -85px
}

.pro-part6-imgs ul li:hover .name {
    color: #e65659
}

.pro-video-box {
    height: 500px;
    width: 896px;
    position: relative;
    overflow: hidden;
    margin: 0 auto
}

.pro-video-box .pro-video {
    position: absolute;
    height: 500px;
    left: 50%;
    margin-left: -450px;
    top: -1px
}

.product-part7 {
    background: url(../../../templates/jinlaser/images/mosha.jpg) repeat;
    padding-top: 60px;
    overflow: hidden
}

.pro-part7-title {
    font-size: 42px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px
}

.pro-part7-info {
    font-size: 14px;
    color: #c7c7c7;
    text-align: center;
    margin-bottom: 15px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px
}

.pro-part7-imgs {
    text-align: center;
    margin-bottom: 80px
}

.pro-part7-imgs-item {
    display: inline-block;
    margin: 0 20px;
    font-size: 0
}

.pro-part7-imgs-item .img-box {
    width: 70px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    background-repeat: no-repeat
}

.pro-part7-imgs-item:hover .img-box {
    background-position: 0 -60px
}

.pro-part7-imgs-item .text {
    display: inline-block;
    font-size: 14px;
    color: #c7c7c7;
    vertical-align: middle;
    margin-right: 20px;
    text-align: left
}

.pro-part7-imgs-item:hover .text {
    color: #b80b0e
}

.pro-part7-pImg {
    text-align: center
}

.pro-part7-pImg img {
    margin: 0 auto
}

.product-part8 {
    background-image: url(../../../templates/jinlaser/images/pro-part8-pImg.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px
}

.pro-part8-lBox {
    width: 50%
}

.pro-part8-lBox .pd {
    padding: 190px 0 0 40px
}

.pro-part8-title {
    font-size: 42px;
    color: #000;
    margin-bottom: 20px
}

.pro-part8-info {
    font-size: 14px;
    color: #666;
    line-height: 30px;
    margin-bottom: 20px
}

.pro-part8-btn a {
    display: block;
    width: 260px;
    height: 70px;
    line-height: 70px;
    border: 2px solid #323234;
    text-align: center;
    font-size: 24px;
    color: #000;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.pro-part8-btn a:hover {
    background: #e97609;
    border: 2px solid #e97609;
    color: #fff
}

#modal h2 {
    margin-bottom: 10px
}

.fancybox-video {
    background: transparent;
    border: 0;
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%
}

.sub-line-box {
    margin-top: 40px
}

.sub-line-box ul li {
    float: left;
    margin-bottom: 20px;
    width: 45%
}

.sub-line-box ul li:nth-of-type(2n) {
    float: right
}

.sub-line-box ul li input[type=text] {
    width: 100%;
    height: 35px;
    border: 0;
    border: 1px solid #ddd;
    padding: 0 5px;
    box-shadow: 0 0 3px #ddd
}

.sub-line-box ul li input[type=text]:focus,.sub-line-box ul .line-textarea textarea:focus {
    border: 1px solid #e97609;
    box-shadow: 0 0 3px #e97609
}

.sub-line-box ul .line-textarea {
    width: 100%
}

.sub-line-box ul .line-textarea textarea {
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 3px #ddd
}

.sub-line-box ul li.line-btn {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 50px
}

.line-btn input[type=submit] {
    width: 150px;
    height: 45px;
    border: 1px solid #333;
    color: #fff;
    font-size: 20px;
    background: #333;
    cursor: pointer;
    box-shadow: 0 0 3px #ddd;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out
}

.line-btn input[type=submit]:hover {
    background: #e97609;
    border: 1px solid #e97609;
    box-shadow: 0 0 3px #e97609
}

.sub-solution-items {
    margin: 30px auto 0;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 30px
}

.sub-solution-items:last-of-type {
    border-bottom-width: 0
}

.sub-solution-items:nth-of-type(2n+1) .sub-solution-img,.sub-solution-items:nth-of-type(2n) .sub-solution-info {
    float: left
}

.sub-solution-items:nth-of-type(2n) .sub-solution-img,.sub-solution-items:nth-of-type(2n+1) .sub-solution-info {
    float: right
}

.sub-solution-img {
    width: 45%;
    padding-right: 20px;
    padding-bottom: 20px
}

.sub-solution-img a {
    display: block;
    position: relative;
    width: 100%
}

.sub-solution-img a img {
    display: block;
    width: 100%
}

.sub-solution-img a:after {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    background: #ddd;
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 15px
}

.sub-solution-info {
    width: 55%;
    margin-top: 20px;
    position: relative
}

.sub-solution-info .title {
    padding: 0 30px
}

.sub-solution-info .title a {
    display: block;
    font-size: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    height: 40px;
    line-height: 40px
}

.sub-solution-info .description {
    height: 90px;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    line-height: 28px;
    height: 109px;
    color: #555;
    padding: 0 30px;
    overflow: hidden;
    margin-bottom: 20px
}

.sub-solution-info .description:after {
    position: absolute;
    content: "";
    left: 50%;
    width: 80px;
    height: 1px;
    background: rgba(0,0,0,0.4);
    left: 32px;
    top: 48px;
    transition: all .3s ease-out 0s
}

.more-detail a {
    display: block;
    width: 120px;
    height: 40px;
    text-align: center;
    border: 1px solid #e97609;
    transition: all .3s ease-out 0s;
    line-height: 38px;
    text-transform: uppercase;
    z-index: 10;
    font-size: 16px;
    color: #e97609;
    margin-left: 30px;
    border-radius: 8px
}

.more-detail a:hover {
    background: #e97609;
    color: #fff
}

.pro-crumb {
    border-top: 1px solid #ddd;
    color: #fff;
    background: #ff8716
}

.pro-crumb-left {
    float: left
}

.pro-crumb-left ul li {
    float: left
}

.pro-crumb-left ul li a {
    display: block;
    padding: 0 15px;
    line-height: 45px;
    color: #fff
}

.pro-crumb-left ul li.active a,.pro-crumb-left ul li:hover a {
    background: #e97609
}

.pro-crumb-right {
    float: right;
    line-height: 45px
}

.pro-crumb-right a {
    color: #fff
}

.pro-crumb-right i.iconfont {
    margin-left: 5px;
    margin-right: 5px
}

.product-part9 {
    background: #fff;
    padding-top: 60px;
    padding-bottom: 60px
}

.product-part-title {
    font-size: 42px;
    text-align: center;
    margin-bottom: 30px
}

.product-part9 .imglist a {
    float: left;
    width: calc(25% - 15px);
    margin-right: 20px;
    margin-bottom: 20px
}

.product-part9 .imglist a:nth-of-type(4n) {
    margin-right: 0
}

.product-part9 .imglist a img {
    display: block;
    width: 100%
}

.sample .imglist a {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 20px
}

.sample .imglist a:nth-of-type(3n) {
    margin-right: 0
}

.sample .imglist a img {
    display: block;
    width: 100%
}

.proinfo-title {
    width: 420px;
    text-align: center;
    position: relative;
    margin: 30px auto 40px;
    border-bottom: 1px solid #e97609
}

.proinfo-title:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 90px;
    height: 0;
    border-top: 1px solid #e97609
}

.proinfo-title:after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 90px;
    height: 0;
    border-top: 1px solid #e97609
}

.proinfo-title .eng {
    text-transform: uppercase;
    font-size: 15px;
    color: #e97609;
    line-height: 40px
}

.proinfo-title .china {
    font-size: 29px;
    color: #e97609;
    line-height: 40px;
    padding-bottom: 10px
}

.p-js {
    border: 1px solid #fff;
    background: #f6f6f6;
    padding: 20px 10px;
    clear: both;
    overflow: hidden
}

.p-js-img {
    float: left;
    width: 365px;
    margin-right: 15px;
    margin-bottom: 35px
}

.p-js-img img {
    width: 100%
}

.p-js-word {
    float: left;
    width: calc(100% - 380px)
}

.p-js-word .p-js-word-t {
    background-color: #e97609;
    margin: 0 5px 5px 0;
    padding: 0;
    display: inline-block;
    line-height: 30px;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold
}

.p-js-word-p {
    color: #000;
    line-height: 34px
}

.p-js-word-b b {
    color: #e97609
}

.p-xq {
    color: #333;
    padding: 21px 5px 0 5px;
    background: #f3f3f3
}

.p-xq-box dl {
    padding: 5px
}

.p-xq-box dl dt {
    background-color: #e97609;
    margin: 0 5px 5px 0;
    padding: 0;
    width: 105px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    display: inline-block;
    font-size: 16px
}

.p-xq-box dl dd {
    color: #000;
    font-size: 14px;
    margin: 15px 0;
    padding: 12px;
    background: #fff;
    border-bottom: 1px solid #e97609
}

.pro-r-info {
    padding: 20px;
    background: #f6f6f6;
    line-height: 25px
}

.pro-r-info img {
    max-width: 100%;
    display: inline-block
}

.pro-r-info p {
    font-size: 14px;
    line-height: 25px
}

.p-js-word-tel {
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px
}

.p-js-word-tel img {
    float: left;
    margin-right: 20px
}

.p-js-word-tel .add_tel_fax {
    float: left;
    margin-right: 20px
}

.p-js-word-tel .add_emali_fax {
    float: left;
    border-left: 1px solid #ccc;
    padding-left: 20px
}

.p-js-word-more {
    margin-top: 20px;
    display: block;
    width: 120px;
    height: 35px;
    background: #e97609;
    color: #FFF;
    text-align: center;
    line-height: 35px
}

.footer-fluid {
    background: #333;
    padding: 30px 0;
    color: #fff
}

.footer a {
    color: #fff
}

.footer-bottom-fluid {
    background: #262525;
    padding: 15px 0
}

.footer-bottom {
    text-align: center;
    color: #adadad;
    font-size: 14px
}

.footer-bottom a {
    color: #adadad
}

.foote-left {
    float: left;
    width: 1000px;
}

.footer-right {
    float: right;
    width: 220px
}

.footer-l-list dl {
    float: left;
    padding-right: 50px;
}

.footer-l-list dl dt {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px
}

.footer-l-list dl dd {
    line-height: 35px;
    font-size: 15px
}

.footer-l-list dl dd a {
    color: #ddd
}

.footer-l-list dl dd a:hover {
    text-decoration: underline;
    color: #fff
}

.footer-r-info .footer-r-tel {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px
}

.footer-r-p {
    font-size: 18px;
    margin-top: 5px;
    letter-spacing: 5px;
    text-align: center
}

.footer-a {
    margin-top: 5px;
    display: block;
    width: 120px;
    color: #fff;
    background: #e97609;
    line-height: 35px;
    text-align: center;
    margin: 10px auto;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px
}

.foorter-img {
    width: 100%;
    text-align: center
}

.foorter-img img {
    width: 130px;
    margin: 0 auto
}

.foorter-img p {
    line-height: 30px
}
/* 新增 */
.product-titlist {
    border-bottom: 2px solid #2d2f35;
    margin-bottom: 50px;
}

.product-titlist ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-titlist ul li {
    width: 25%;
    text-align: center;
}

.product-titlist ul li span{
    color: #2d2f35;
    line-height: 50px;
    position: relative;
    display: block;
    width: 120px;
    margin: 0px auto;
    font-size: 15px;
    cursor: pointer;
}

.product-titlist ul li.active span {
    color: #fe0000;
}

.product-titlist ul li.active span::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0px;
    display: block;
    width: 100%;
    height: 2px;
    background: #fe0000;
}
.productBox{
    height: 320px;
    position: relative;
}
.product-box{
    position: absolute;
    width:100%;
    z-index: -1;
    opacity: 0;
}
.product-box.active{
    z-index: 1;
    opacity: 1;
}
#product-box1,#product-box2,#product-box3,#product-box4{
    padding: 0px 60px;
}

#product-box1 .owl-controls .owl-buttons div,
#product-box2 .owl-controls .owl-buttons div,
#product-box3 .owl-controls .owl-buttons div,
#product-box4 .owl-controls .owl-buttons div {
    width: 35px;
    height: 35px;
    background-color: #000;
    background-repeat: no-repeat;
    border-radius: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px 23px;
    margin-top:-18px;
    top:50%;
}

#product-box1 .owl-controls .owl-buttons div.owl-prev,
#product-box2 .owl-controls .owl-buttons div.owl-prev,
#product-box3 .owl-controls .owl-buttons div.owl-prev,
#product-box4 .owl-controls .owl-buttons div.owl-prev {
    left: 0px;
    background-image: url(../../../templates/jinlaser/images/cimg03.png);
}

#product-box1 .owl-controls .owl-buttons .owl-next,
#product-box2 .owl-controls .owl-buttons .owl-next,
#product-box3 .owl-controls .owl-buttons .owl-next,
#product-box4 .owl-controls .owl-buttons .owl-next {
    right: 0px;
    background-image: url(../../../templates/jinlaser/images/cimg04.png);
}
.case img{
    display: block;
    width:100%;
}