.overall001 .t1{font-size:24px}
.overall001 .posi{line-height:5}
.overall001 .header{height:auto}
.overall001 .header.fixed{height:auto;position:fixed;top:0}
.overall001 .header .nav .navtop{display:none!important}
.overall001 .header .nav{z-index:88;display:none;top:0;right:0;width:80%;height:auto!important;background:#fff;padding-bottom:10px}
.overall001 .header .nav li.menu-item{float:none;width:90%;text-align:left;margin:0 auto;color:#333;background-color:#f9f9f9;border-left:1px solid #dadada;border-right:1px solid #dadada;border-bottom:1px solid #dadada;height:auto!important;line-height:35px!important}
.overall001 .header .nav li.menu-item:nth-child(2){border-top:1px solid #dadada}
.overall001 .header .nav li.menu-item a{font-size:12px;color:#666;padding:0 2%}
.overall001 .header .nav li.menu-item .sub-menu .menu-item{display:none;position:relative;top:0!important;width:100%}
.overall001 .header .nav li.menu-item .sub-menu .menu-item li{padding:0 4%;color:#666;font-size:12px;height:35px;line-height:35px;border-top:1px solid #dadada;border-bottom:0}
.overall001 .header .nav .navchildlanguage{display:none}
.overall001 .header .nav .navchildsearch{display:none}
.overall001 .header .list{display:none!important}
.overall001 .header .searchcontent{display:none!important}
.overall001 .wapnavpointer{display:block;top:3px;right:3px}
.overall001 .wapnavbtn{display:block;top:16px;right:16px;width:24px;font-size:24px}
.overall001 .waplanguage{display:block;top:17px;right:50px}
.overall001 .waplanguage .language{padding:0 2px;font-size:14px;line-height:14px}
.overall001 .waplanguage .language.cn{border-right:1px solid #bababa}
.overall001 .header .nav li{transition:.2s height ease}
.overall001 .header .nav.on{display:block!important}
.overall001 .header .nav.on li{height:3em}
.overall001 .nav_transform1{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:999}
.overall001 .nav_transform1 .navtop{display:none!important}
.overall001 .nav_transform1 ul.navcont{position:absolute;width:262px;height:280px;top:0;bottom:0;left:0;right:0;margin:auto;text-align:center}
.overall001 .nav_transform1 ul.navcont li.menu-item{margin:10px 7px;font-size:12px;width:69px;height:69px;line-height:69px;border:2px solid #fff}
.overall001 .nav_transform1 ul.navcont li.menu-item a{color:#fff;font-size:12px}
.overall001 .nav_transform1 .bg{display:block}
.overall001 .nav_transform1.skin-white ul.navcont li.menu-item{border:none;color:#000}
.overall001 .nav_transform1.skin-white ul.navcont li.menu-item a{color:#000;background-color:#fff}
.overall001 .wapnavbtn.on{color:#fff;z-index:1000;transform:rotate(90deg)}
.overall001 .wapnavbtn.on:before{content:'\e617'}
.overall001 .menu-item .sub-menu{display:none!important}
.overall001 .prod-slide .menu-item .sub-menu{display:block!important}
.overall001 .logo{width:90%;height:60px}
.overall001 .logo:after{width:1px;height:auto;position:absolute;right:0;top:10px;bottom:10px;margin-top:0}
.overall001 .slogan{width:100%;height:auto}
.overall001 .slogan:before{display:none}
.overall001 .slogan p{padding:10px 0;font-size:14px;line-height:1.5;display:inherit;text-align:center}
.overall001 .slogan p small{padding-left:0}
.overall001 .banner,.overall001 .nbanner{height:auto;min-height:75px}
.overall001 .nbanner{display:none}
.overall001 .nbanner span,.overall001 .nbanner span a{color:#fff}
.overall001 .nbanner span.size1{font-size:22px}
.overall001 .slide{height:158px;overflow:hidden}
.overall001 .slide ul li{position:relative}
.overall001 .slide ul img{width:600px;height:158px;position:absolute;left:50%;top:50%;margin-left:-300px;margin-top:-79px}
.overall001 .footer{font-size:12px;line-height:inherit}
.overall001 footer span{display:block;text-align:center}
.overall001 footer .footer_link{display:none}
.overall001 .top{border-radius:100%}
.overall001 .index_ .t{padding-bottom:18px}
.overall001 .index_ .t h2{font-size:20px}
.overall001 .index_ .t h2 strong{font-size:20px}
.overall001 .index_ .t h4{font-size:12px}
.overall001 .port-box .portinfo{display:none}
.overall001 .port-box .portinfo h3{margin-top:20%;font-size:14px}
.overall001 .port-box .portinfo p{display:none}
.overall001 .ghost-center:before{height:75px}
.overall001 .ghost-center p{padding:0;font-size:1rem}
.overall001 .widget-search-form a{float:right;height:30px;width:100%;padding:0;margin-top:10px;text-align:center}
.overall001 .g-bd1{margin:0 0 0}
.overall001 .g-sd1{position:relative;float:left;width:100%;margin-right:0}
.overall001 .g-mn1{float:right;width:100%}
.overall001 .g-mn1c{margin-left:0}
.overall001 .section_public div{text-align:center}
.overall001 .prod-slide .cate-box h3{font-size:17px;background-repeat:repeat-x;position:relative;line-height:38px;font-weight:400}
.overall001 .prod-slide .cate-box h3:after{position:absolute;display:block;font-family:iconfont;content:'\e60e';right:10px;top:0;font-weight:400}
.overall001 .prod-slide .cate-box ul{display:none}
.overall001 .prod-slide .cate-box ul li{font-size:12px}
.overall001 .prod-slide .cate-box ul li a{line-height:34px}
.overall001 .prod-slide .cate-box ul li:after{background-color:inherit;color:#666}
.overall001 .prod-slide .tel-box{display:none}
.overall001 .prod-cont{padding:10px 0 0 0}
.overall001 .prod-cont .media-box .icon{width:150px;height:110px}
.overall001 .prod-cont .media-box p{font-size:12px;line-height:32px}
.overall001 .widget-search-hot{font-size:13px}
.overall001 .widget-search-hot p{font-size:16px;padding-bottom:0}
.overall001 .widget-search-form{width:95%}
.overall001 .widget-search-form .form-control{height:38px}
.overall001 .widget-search-form .search_btn{height:38px}
.overall001 .section_advtage .t{background:url(../images/adv05.png) top center no-repeat;height:80px;background-size:contain}
.overall001 .section_advtage .services-box{padding:5px 0;background:inherit;text-align:left}
.overall001 .section_advtage .services-box h3{font-size:12px}
.overall001 .section_advtage .services-box h3 p{font-size:18px;line-height:1.4}
.overall001 .section_advtage .services-box h3 small{font-size:15px}
.overall001 .section_advtage .services-box h3:before{top:8px;width:40px;height:40px;background-image:none;background-color:#0d62be;font-size:24px;line-height:40px}
.overall001 .section_advtage .services-box p{padding-left:50px;font-size:12px}
.overall001 .section_advtage .services-box h3{padding-left:50px}
.overall001 .section_case .index_{padding-top:2em;padding-bottom:1em}
.overall001 .section_case .index_ .t h2{font-size:20px}
.overall001 .section_case .index_ .t h3{font-size:16px}
.overall001 .section_case .jcarousel-control-prev{left:4px}
.overall001 .section_case .jcarousel-control-next{right:4px}
.overall001 .section_case .jcarousel-wrapper:hover .jcarousel-control-next{right:0;background-color:#fff}
.overall001 .section_case .jcarousel-wrapper:hover .jcarousel-control-prev{left:0;background-color:#fff}
.overall001 .iconmore{width:20px;height:20px;top:50%;right:0;margin-top:-10px;border:1px solid #0d62be}
.overall001 .iconmore a{display:block;width:20px;height:20px;font-size:22px;overflow:hidden;line-height:17px}
.overall001 .new-box{font-size:12px}
.overall001 .new-box .licont{height:55px}
.overall001 .section_inner .new-box .licont{height:auto}
.overall001 .about-box p{height:auto;font-size:12px}
.overall001 .index_{padding:2em 0 2em}
.overall001 .section_inner{background-image:none}
.overall001 .section_inner .box-t{padding:0;background:0 0}
.overall001 .section_inner .box-t strong{display:none}
.overall001 .section_inner .pagecrumblist{display:none}
.overall001 .box{padding:0 10px}
.overall001 .box-t{font-size:20px}
.overall001 .box-title strong{font-size:18px;padding:8px 10px}
.overall001 .box-cont{padding:10px 0}
.overall001 .section_nnews .news-box h3{white-space:normal;font-size:14px}
.overall001 .section_nnews .news-box p{padding-top:0}
.overall001 .section_nnews .news-box h3:before{border-width:2px}
.overall001 .section_inner .box-c{padding:0;border:0;background:0 0}
.overall001 .newstit h1{padding:25px 0 25px;font-size:22px}
.overall001 .newstit p span{display:inline-block}
.overall001 .content_bak{padding:20px 0!important;border:0;background-color:#fff}
.overall001 .content_bak h2{font-size:15px;font-weight:400;margin:0 0}
.overall001 .content_bak p{font-size:13px;margin:1em 0;line-height:22px}
.overall001 .newsdetailcur li,.overall001 .newsdetailcur li.r{float:left;padding-bottom:10px;width:100%;text-align:left;white-space:nowrap}
.overall001 .proddetail{padding:0 10px 10px 10px;background-color:#fff}
.overall001 .deright{padding:0}
.overall001 .deright h4{font-size:18px}
.overall001 .deright h4>span{font-size:13px}
.overall001 .deright ul li{color:#858585;line-height:22px;font-size:13px}
.overall001 .yuall{text-align:center;margin-top:20px}
.overall001 .yuall a{display:inline-block;float:none}
.overall001 .zx{margin-left:0;margin-top:10px}
.overall001 .newsrecmd h4{font-size:18px;font-weight:400}
.overall001 .section_njob .services-box{padding-bottom:20px}
.overall001 .jobapply{padding:10px}
.overall001 .jobchild{margin-bottom:20px;padding-bottom:20px;border-right:0;border-bottom:1px solid #ccc}
.overall001 .section_njob a.back{display:none}
.overall001 .navcontent,.overall001 .subnav,.overall001 .sub_top p{padding-left:4%}
.overall001 .section_njob .services-box .icon{float:left;width:60px;font-size:26px;line-height:2}
.overall001 .section_njob .services-box h3,.overall001 .section_njob .services-box p{text-align:left}
.overall001 .section_njob .services-box h3{padding:0;font-weight:400;font-size:18px}
.overall001 .subnav{line-height:44px}
.overall001 .subnav i{font-size:18px;line-height:44px}
