.overall001 .index_{padding:2em 0 2em}
.overall001 .logo,.overall001 .slogan{height:90px}
.overall001 .head_tel{height:auto;padding:5px 0 15px 0;text-align:center}
.overall001 .head_tel a{display:inline;padding-left:10px}
.overall001 .slide{height:300px;overflow:hidden}
.overall001 .slide ul img.abs{width:1000px;height:300px;margin-left:-500px;margin-top:-150px}
.overall001 .index_ .t h2{font-size:20px}
.overall001 .index_ .t h4{font-size:12px}
.overall001 .g-bd1{margin:0 0 10px}
.overall001 .g-sd1{position:relative;float:left;width:100%;margin-right:0}
.overall001 .g-mn1{float:right;width:100%}
.overall001 .g-mn1c{margin-left:0}
.overall001 .prod-slide .cate-box h3{font-size:24px;background-repeat:repeat-x;position:relative;line-height:55px}
.overall001 .prod-slide .cate-box h3:after{position:absolute;display:block;font-family:iconfont;content:'\e60e';right:10px;top:0;font-weight:400}
.overall001 .prod-slide .cate-box ul{display:none}
.overall001 .prod-slide .tel-box{display:none}
.overall001 .section_public div{text-align:center}
.overall001 .widget-search-form{width:95%}
.overall001 .section_advtage .services-box{padding:10px 0}
.overall001 .section_advtage .services-box h3 p{font-size:24px;line-height:1.4}
.overall001 .section_about{padding-bottom:20px}
.overall001 .box-title strong{font-size:20px;color:#4b4b4b;position:relative;padding:10px 10px;float:left}
.overall001 .box-cont{padding:15px 0}
.overall001 .box .pagecrumblist{padding:20px 10px 0 0}
.overall001 #map{height:350px!important}
