@charset "utf-8";

 

@import url(base.css);

@import url(font.css);




.overall001{width:100%;height:100%;overflow-x:hidden;overflow-y:scroll;color:#666;font:14px/1.8 'Microsoft Yahei',Arial,sans-serif}
.overall001 input,.overall001 textarea{margin:0;padding:0;outline:0;border:0;background:0 0;vertical-align:middle}
.overall001 body,.overall001 button,.overall001 dd,.overall001 dl,.overall001 form,.overall001 h1,.overall001 h2,.overall001 h3,.overall001 h4,.overall001 h5,.overall001 menu,.overall001 ol,.overall001 p,.overall001 ul{margin:0}
.overall001 menu,.overall001 ol,.overall001 ul{padding-left:0;list-style-type:none}
.overall001 img{max-width:100%;border:0;vertical-align:top}
.overall001 a{outline:0;color:#000;text-decoration:none;font-family:"微软雅黑"}
.overall001 a:hover{color:#0d62be}
.overall001 b,.overall001 i{font-style:normal}
.overall001 .opc0{opacity:0}
.overall001 .fix:after,.overall001 .fix:before{content:"";display:table}
.overall001 .fix:after{clear:both}
.overall001 .dib{display:inline-block}
.overall001 .pr{position:relative}
.overall001 .pa{position:absolute}
.overall001 .el{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.overall001 .eln{white-space:normal}
.overall001 .btn{cursor:pointer}
.overall001 .hide{display:none}
.overall001 .arr{width:0;height:0;overflow:hidden}
.overall001 .f_ewm{float:left;margin-right:1em}
.overall001 .widget-tel{padding:0 10px;font-weight:700;margin-left:6px}
.overall001 .widget-tel i{padding-right:5px}
.overall001 .bar .link a{display:inline-block;float:left;background:url(../images/social.jpg) no-repeat;vertical-align:middle;margin-top:7px;margin-right:16px;width:25px;height:28px}
.overall001 .bar .link .link01{background-position:0 0}
.overall001 .bar .link .link02{background-position:-43px 0}
.overall001 .bar .link .link03{background-position:-87px 1px}
.overall001 .bar .link .link04{background-position:-130px 1px}
.overall001 .bar .link .link05{background-position:-173px 0}
.overall001 .bar .link .link06{background-position:-216px 0}
.overall001 .bar{background:#f1efef;color:#8d8d8d;position:relative;clear:both;line-height:36px;overflow:hidden;font-size:12px;font-weight:lighter}
.overall001 .bar a{color:#8d8d8d}
.overall001 .bar ul li{float:left;font-size:12px}
.overall001 .bar ul li i.split{display:inline-block;vertical-align:middle;width:1px;height:9px;background:#8d8d8d;margin:0 4px}
.overall001 .logo{float:left;width:48%;height:130px;vertical-align:middle;z-index:2;position:relative}
.overall001 .logo a{display:block;height:100%}
.overall001 .logo span{display:inline-block;height:100%;width:0;text-align:center;vertical-align:middle}
.overall001 .logo img{vertical-align:middle;max-height:100%}
.overall001 .logo:after{display:block;content:'';width:1px;height:68px;background-color:#e1e1e1;position:absolute;right:0;top:50%;margin-top:-34px}
.overall001 .slogan{position:relative;float:left;width:50%;height:130px;vertical-align:middle}
.overall001 .slogan::before{content:" ";display:inline-block;height:100%;width:0;vertical-align:middle}
.overall001 .slogan p{display:inline-block;vertical-align:middle;margin:0;padding:20px;font-size:24px;color:#363535;line-height:1}
.overall001 .slogan p small{padding-left:15px;font-weight:400;font-size:14px;color:#414141}
.overall001 .slogan p i{color:#f0831e}
.overall001 .head_tel{position:relative;height:130px;text-align:right}
.overall001 .head_tel::before{content:" ";display:inline-block;height:100%;width:0;vertical-align:middle}
.overall001 .head_tel p{display:inline-block;vertical-align:middle;font-size:16px;color:#6c6666;line-height:26px;font-weight:700}
.overall001 .head_tel a{color:#ff8e00;display:block;font-size:24px}
.overall001 .head_tel i{margin-right:10px;font-size:24px;color:#f0831e}
.overall001 .wapnavbtn{display:none;position:absolute;top:58px;right:32px;cursor:pointer;animation:transform .6s ease-in-out 0s both;-moz-animation:transform .6s ease-in-out 0s both;-webkit-animation:transform .6s ease-in-out 0s both;-o-animation:transform .6s ease-in-out 0s both}
.overall001 .waplanguage{display:none;position:absolute;top:35px;right:120px}
.overall001 .waplanguage .language{padding:0 14px;color:#999;font-size:28px;line-height:28px;display:inline-block}
.overall001 .waplanguage .language.on{color:#00aa3a}
.overall001 .waplanguage .language.cn{border-right:3px solid #bababa}
.overall001 .wapnavpointer{display:none;position:absolute;top:3px;right:3px;cursor:pointer}
.overall001 .navbox{background:#0d62be;position:relative}
.overall001 .nav_transform1 .navtop{position:absolute;top:0;display:none;height:4px;background:#f89120}
.overall001 .nav_transform1 .navtop{transition-duration:.5s;-ms-transition-duration:.5s;-moz-transition-duration:.5s;-webkit-transition-duration:.5s}
.overall001 .nav_transform1 ul.navcont li.menu-item{position:relative;float:left;width:12.5%;height:54px;line-height:54px;text-align:center;color:#fff}
.overall001 .nav_transform1 ul.navcont li.menu-item a{display:block}
.overall001 .nav_transform1 ul.navcont li.menu-item a{font-size:15px;color:#fff;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.overall001 .nav_transform1 ul.navcont li.menu-item a{transition-duration:.5s;-ms-transition-duration:.5s;-moz-transition-duration:.5s;-webkit-transition-duration:.5s}
.overall001 .nav_transform1 ul.navcont li.menu-item:hover a{color:#fff;background-color:#326ec0}
.overall001 .menu-item .sub-menu{display:none;top:54px;width:100%;z-index:999}
.overall001 .navcont .sub-menu{position:absolute;}
.overall001 .nav_transform1 .menu-item .sub-menu li.menu-item:hover a{background:#204e8d;color:#fff}
.overall001 .nav_transform1 .menu-item .sub-menu li.menu-item{color:#fff;font-size:14px;line-height:38px;background-color:#326ec0;position:relative;float:none;width:auto;height:auto;text-align:center}
.overall001 .nav_transform1 .bg{position:absolute;width:50%;height:50%;background:rgba(0,0,0,.8);display:none}
.overall001 .nav_transform1.skin-white .bg{background:rgba(255,255,255,.8)}
.overall001 .nav_transform1.skin-blue .bg{background:rgba(13,98,190,.8)}
.overall001 .nav_transform1 .bg1{top:0;left:0}
.overall001 .nav_transform1 .bg2{top:0;right:0}
.overall001 .nav_transform1 .bg3{bottom:0;left:0}
.overall001 .nav_transform1 .bg4{bottom:0;right:0}
.overall001 .nav_transform1.in .bg1{animation:navbgin1 .6s ease-in-out 0s both;-moz-animation:navbgin1 .6s ease-in-out 0s both;-webkit-animation:navbgin1 .6s ease-in-out 0s both;-o-animation:navbgin1 .6s ease-in-out 0s both}
.overall001 .nav_transform1.in .bg2{animation:navbgin2 .6s ease-in-out 0s both;-moz-animation:navbgin2 .6s ease-in-out 0s both;-webkit-animation:navbgin2 .6s ease-in-out 0s both;-o-animation:navbgin2 .6s ease-in-out 0s both}
.overall001 .nav_transform1.in .bg3{animation:navbgin3 .6s ease-in-out 0s both;-moz-animation:navbgin3 .6s ease-in-out 0s both;-webkit-animation:navbgin3 .6s ease-in-out 0s both;-o-animation:navbgin3 .6s ease-in-out 0s both}
.overall001 .nav_transform1.in .bg4{animation:navbgin4 .6s ease-in-out 0s both;-moz-animation:navbgin4 .6s ease-in-out 0s both;-webkit-animation:navbgin4 .6s ease-in-out 0s both;-o-animation:navbgin4 .6s ease-in-out 0s both}
@keyframes navbgin1{0%{transform:translateX(-100%)}
100%{transform:translateX(0)}}
@-moz-keyframes navbgin1{0%{-moz-transform:translateX(-100%)}
100%{-moz-transform:translateX(0)}}
@-webkit-keyframes navbgin1{0%{-webkit-transform:translateX(-100%)}
100%{-webkit-transform:translateX(0)}}
@-o-keyframes navbgin1{0%{-o-transform:translateX(-100%)}
100%{-o-transform:translateX(0)}}
@keyframes navbgin2{0%{transform:translateY(-100%)}
100%{transform:translateY(0)}}
@-moz-keyframes navbgin2{0%{-moz-transform:translateY(-100%)}
100%{-moz-transform:translateY(0)}}
@-webkit-keyframes navbgin2{0%{-webkit-transform:translateY(-100%)}
100%{-webkit-transform:translateY(0)}}
@-o-keyframes navbgin2{0%{-o-transform:translateY(-100%)}
100%{-o-transform:translateY(0)}}
@keyframes navbgin3{0%{transform:translateY(100%)}
100%{transform:translateY(0)}}
@-moz-keyframes navbgin3{0%{-moz-transform:translateY(100%)}
100%{-moz-transform:translateY(0)}}
@-webkit-keyframes navbgin3{0%{-webkit-transform:translateY(100%)}
100%{-webkit-transform:translateY(0)}}
@-o-keyframes navbgin3{0%{-o-transform:translateY(100%)}
100%{-o-transform:translateY(0)}}
@keyframes navbgin4{0%{transform:translateX(100%)}
100%{transform:translateX(0)}}
@-moz-keyframes navbgin4{0%{-moz-transform:translateX(100%)}
100%{-moz-transform:translateX(0)}}
@-webkit-keyframes navbgin4{0%{-webkit-transform:translateX(100%)}
100%{-webkit-transform:translateX(0)}}
@-o-keyframes navbgin4{0%{-o-transform:translateX(100%)}
100%{-o-transform:translateX(0)}}


.overall001 .nav_transform1.out .bg1{animation:navbgout1 .6s ease-in-out .4s both;-moz-animation:navbgout1 .6s ease-in-out .4s both;-webkit-animation:navbgout1 .6s ease-in-out .4s both;-o-animation:navbgout1 .6s ease-in-out .4s both}
.overall001 .nav_transform1.out .bg2{animation:navbgout2 .6s ease-in-out .4s both;-moz-animation:navbgout2 .6s ease-in-out .4s both;-webkit-animation:navbgout2 .6s ease-in-out .4s both;-o-animation:navbgout2 .6s ease-in-out .4s both}
.overall001 .nav_transform1.out .bg3{animation:navbgout3 .6s ease-in-out .4s both;-moz-animation:navbgout3 .6s ease-in-out .4s both;-webkit-animation:navbgout3 .6s ease-in-out .4s both;-o-animation:navbgout3 .6s ease-in-out .4s both}
.overall001 .nav_transform1.out .bg4{animation:navbgout4 .6s ease-in-out .4s both;-moz-animation:navbgout4 .6s ease-in-out .4s both;-webkit-animation:navbgout4 .6s ease-in-out .4s both;-o-animation:navbgout4 .6s ease-in-out .4s both}
@keyframes navbgout1{100%{transform:translateX(-100%)}
0%{transform:translateX(0)}}
@-moz-keyframes navbgout1{100%{-moz-transform:translateX(-100%)}
0%{-moz-transform:translateX(0)}}
@-webkit-keyframes navbgout1{100%{-webkit-transform:translateX(-100%)}
0%{-webkit-transform:translateX(0)}}
@-o-keyframes navbgout1{100%{-o-transform:translateX(-100%)}
0%{-o-transform:translateX(0)}}
@keyframes navbgout2{100%{transform:translateY(-100%)}
0%{transform:translateY(0)}}
@-moz-keyframes navbgout2{100%{-moz-transform:translateY(-100%)}
0%{-moz-transform:translateY(0)}}
@-webkit-keyframes navbgout2{100%{-webkit-transform:translateY(-100%)}
0%{-webkit-transform:translateY(0)}}
@-o-keyframes navbgout2{100%{-o-transform:translateY(-100%)}
0%{-o-transform:translateY(0)}}
@keyframes navbgout3{100%{transform:translateY(100%)}
0%{transform:translateY(0)}}
@-moz-keyframes navbgout3{100%{-moz-transform:translateY(100%)}
0%{-moz-transform:translateY(0)}}
@-webkit-keyframes navbgout3{100%{-webkit-transform:translateY(100%)}
0%{-webkit-transform:translateY(0)}}
@-o-keyframes navbgout3{100%{-o-transform:translateY(100%)}
0%{-o-transform:translateY(0)}}
@keyframes navbgout4{100%{transform:translateX(100%)}
0%{transform:translateX(0)}}
@-moz-keyframes navbgout4{100%{-moz-transform:translateX(100%)}
0%{-moz-transform:translateX(0)}}
@-webkit-keyframes navbgout4{100%{-webkit-transform:translateX(100%)}
0%{-webkit-transform:translateX(0)}}
@-o-keyframes navbgout4{100%{-o-transform:translateX(100%)}
0%{-o-transform:translateX(0)}}
.overall001 .nav_transform1.in .navcont{animation:navContentIn .4s ease-in-out .6s both;-moz-animation:navContentIn .4s ease-in-out .6s both;-webkit-animation:navContentIn .4s ease-in-out .6s both;-o-animation:navContentIn .4s ease-in-out .6s both}
@keyframes navContentIn{0%{transform:scale(0);opacity:0}
80%{transform:scale(1.1)}
100%{transform:scale(1);opacity:1}}
@-moz-keyframes navContentIn{0%{-moz-transform:scale(0);opacity:0}
80%{-moz-transform:scale(1.1)}
100%{-moz-transform:scale(1);opacity:1}}
@-webkit-keyframes navContentIn{0%{-webkit-transform:scale(0);opacity:0}
80%{-webkit-transform:scale(1.1)}
100%{-webkit-transform:scale(1);opacity:1}}
@-o-keyframes navContentIn{0%{-o-transform:scale(0);opacity:0}
80%{-o-transform:scale(1.1)}
100%{-o-transform:scale(1);opacity:1}}
.overall001 .nav_transform1.out .navcont{animation:navcontentout .4s ease-in-out 0s both;-moz-animation:navcontentout .4s ease-in-out 0s both;-webkit-animation:navcontentout .4s ease-in-out 0s both;-o-animation:navcontentout .4s ease-in-out 0s both}
@keyframes navcontentout{100%{transform:scale(0);opacity:0}
20%{transform:scale(1.1)}
0%{transform:scale(1);opacity:1}}
@-moz-keyframes navcontentout{100%{-moz-transform:scale(0);opacity:0}
20%{-moz-transform:scale(1.1)}
0%{-moz-transform:scale(1);opacity:1}}
@-webkit-keyframes navcontentout{100%{-webkit-transform:scale(0);opacity:0}
20%{-webkit-transform:scale(1.1)}
0%{-webkit-transform:scale(1);opacity:1}}
@-o-keyframes navcontentout{100%{-o-transform:scale(0);opacity:0}
20%{-o-transform:scale(1.1)}
0%{-o-transform:scale(1);opacity:1}}
.overall001 .footer{text-align:center;background:#0f8e47;color:#fff;font-size:14px;line-height:30px}
.overall001 .footer a{color:#fff}
.overall001 .footer a:hover{text-decoration:underline;color:inherit}
.overall001 .footer_detail span{padding-right:4px}
.overall001 .footer_nav a{padding-right:15px;position:relative}
.overall001 .footer_nav a:after{display:block;content:'';width:1px;height:11px;background-color:#fff;position:absolute;right:6px;top:5px}
.overall001 .footer_nav a:last-child:after{display:none}
.overall001 .footer_link{padding:20px 0;border-bottom:1px solid #3d3d3d;background-color:#f3f6f7;color:#000}
.overall001 .footer_link i{padding-right:6px}
.overall001 .footer_link .wrap{overflow:hidden}
.overall001 .footer_link a{color:#6e6e6e;padding:0 4px}
.overall001 .footer_link li{float:left;margin:0 6px;white-space:nowrap;overflow:hidden}
.overall001 .footer_link a:hover{color:#000}
.overall001 .footer_info{text-align:left;background-color:#0d62be}
.overall001 .footer_info .index_{padding-top:20px;padding-bottom:15px}
.overall001 .footer_info .usinfo .info{color:#fff}
.overall001 .footer_info .usinfo strong{font-size:20px}
.overall001 .top{display:none;position:fixed;right:10px;bottom:80px;z-index:999;width:40px;height:40px;font-size:24px;background:#ccc;color:#fff;line-height:40px;text-align:center;cursor:pointer}
.overall001 .top{transition-duration:.5s;-ms-transition-duration:.5s;-moz-transition-duration:.5s;-webkit-transition-duration:.5s}
.overall001 .top:hover{opacity:.8}
.overall001 .top img{vertical-align:middle}
.overall001 .indexbanner{height:562px;overflow:hidden}
.overall001 .swiper-info{position:absolute;top:50%;left:50%;z-index:100;width:auto;text-align:center;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.overall001 .swiper-info h3,.overall001 .swiper-info p{color:#fff;text-shadow:1px 1px 2px rgba(0,0,0,.4);line-height:48px}
.overall001 .swiper-info h3{font-weight:700;font-size:42px}
.overall001 .swiper-info p{margin:8px 0 20px;font-size:18px}
.overall001 .swiper-info a.more{position:relative;z-index:9999;margin:0;padding:6px 20px;width:90px;border:none;background-color:#ec408c;color:#fff;font-size:14px}
.overall001 .swiper-info a.more:hover{background-color:#c23473}
.overall001 .banner .shade{z-index:1;background:rgba(0,0,0,.3)}
.overall001 .nbanner{background:url(../images/banner_bg.jpg) bottom center #eee;height:194px;text-align:center}
.overall001 .nbanner span,.overall001 .nbanner span a{color:#fff}
.overall001 .nbanner span.size1{font-size:36px}
.overall001 .nbanner span.size2{font-size:18px}
.overall001 .index_{padding:3em 0 3em}
.overall001 .index_ .t{padding-bottom:35px;text-align:center;color:#303030}
.overall001 .index_ .t h1{font-size:36px;line-height:2;font-weight:400}
.overall001 .index_ .t h2{font-size:30px;line-height:1.2;font-weight:400}
.overall001 .index_ .t h2 strong{padding:0 10px;position:relative;font-weight:700;font-size:40px;color:#0f8e47}
.overall001 .index_ .t h2 i{color:#ff8e00}
.overall001 .index_ .t h2.border strong:before{display:block;content:' ';width:30px;height:1px;border-bottom:3px solid #595858;position:absolute;right:100%;bottom:46%}
.overall001 .index_ .t h2.border strong:after{display:block;content:' ';width:30px;height:1px;border-bottom:3px solid #595858;position:absolute;left:100%;bottom:46%}
.overall001 .index_ .t h2.border-double strong:before{display:block;content:'////////////////';color:#595858;width:1000%;height:20px;position:absolute;right:100%;bottom:46%}
.overall001 .index_ .t h2.border-double strong:after{display:block;content:' ';width:30px;height:1px;border-bottom:3px solid #0e58a3;position:absolute;left:100%;bottom:46%}
.overall001 .index_ .t h3{font-size:20px;font-weight:400}
.overall001 .index_ .t h4{font-size:14px;font-weight:400;color:#acacac;text-transform:uppercase}
.overall001 .index_ .t h5{font-size:12px;font-weight:400;color:#acacac;text-transform:uppercase;vertical-align:top}
.overall001 .index_ .t img{display:block}
.overall001 .index_scroll h2{color:#fff}
.overall001 .index_scroll .t .more{float:right;width:152px;height:59px;background:url(../images/i_18.png) 0 bottom no-repeat;overflow:hidden;text-indent:-999px;margin-right:20px}
.overall001 a.more{color:#fff;margin:0 auto}
.overall001 a.more{transition-duration:.5s;-ms-transition-duration:.5s;-moz-transition-duration:.5s;-webkit-transition-duration:.5s}
.overall001 a.more:hover{color:#fff}
.overall001 a.more i{margin-left:20px}
.overall001 a.more.block{padding:6px 30px;border:1px solid #0f8e47;border-radius:20px;display:inline-block;margin-top:10px;background-color:#0f8e47}
.overall001 a.more.block:hover{color:#fff;background-color:#0f8e47;border-color:#0f8e47}
.overall001 a.button{width:220px;height:45px;border:1px #eee solid;border-radius:40px;background-color:#fff;display:block;margin:0 auto;text-align:center;line-height:45px;position:relative;overflow:hidden}
.overall001 a.button.anim span{position:absolute;left:50%;top:0;white-space:nowrap;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);-webkit-transition-delay:250ms;-moz-transition-delay:250ms;-ms-transition-delay:250ms;-o-transition-delay:250ms;transition-delay:250ms}
.overall001 a.button.anim i:before{font-size:22px;color:#ec408c;position:absolute;top:9px;left:0;-webkit-transform:translateX(-200%);-ms-transform:translateX(-200%);-o-transform:translateX(-200%);transform:translateX(-200%)}
.overall001 a.button.anim:hover i:before{left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%)}
.overall001 a.button.anim:hover span{left:120%}
.overall001 a.btn-more,.overall001 a.btn-msg{font-size:12px;width:69px;height:28px;line-height:28px;display:block}
.overall001 a.btn-more{border-radius:3px 0 0 3px;border:1px solid #0e58a4;border-right-width:0;background-color:#0e58a4;color:#fff}
.overall001 a.btn-msg{border-radius:0 3px 3px 0;border:1px solid #003c7a;border-left-width:0;background-color:#fff;color:#0e58a4}
.overall001 a.btn-msg i:before{color:#0e58a4}
.overall001 .anim-btn{position:relative;overflow:hidden;display:block}
.overall001 .anim-btn span{position:absolute;left:50%;top:0;white-space:nowrap;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);-webkit-transition-delay:.2s;-moz-transition-delay:.2s;-ms-transition-delay:.2s;-o-transition-delay:.2s;transition-delay:.2s}
.overall001 .anim-btn i:before{font-size:20px;color:#fff;position:absolute;top:4px;left:0;-webkit-transform:translateX(-200%);-ms-transform:translateX(-200%);-o-transform:translateX(-200%);transform:translateX(-200%)}
.overall001 .anim-btn:hover i:before{left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%)}
.overall001 .anim-btn:hover span{left:150%}
.overall001 .btn-rl{padding:8px 20px;background-color:#ec408c;color:#fff;display:block;width:90px;margin:0 auto;position:relative}
.overall001 .btn-rl:hover{opacity:.7}
.overall001 .btn-rl span{padding-right:20px}
.overall001 .btn-rl i{position:absolute;top:0;bottom:0;right:0;width:36px;border-left:1px #c23473 solid;line-height:36px}
.overall001 .widget-filter{border:1px solid #e6e6e6;background-color:#fff;line-height:40px;margin-bottom:15px}
.overall001 .widget-filter span{float:left;background-color:#f7f7f7;color:#8a8a8a;padding:0 20px}
.overall001 .widget-filter ul li{float:left}
.overall001 .widget-filter ul li a{display:block;padding:0 15px;color:#575757}
.overall001 .widget-filter ul li a:hover,.overall001 .widget-filter ul li.on a{color:#ff3d46}
.overall001 .services-box{text-align:center;padding-bottom:30px;display:block}
.overall001 .services-box .icon{display:inline-block;background:#fff;width:100px;height:100px;position:relative;margin-bottom:0}
.overall001 .services-box .icon a{display:block;width:67px;height:67px;margin:0 auto;padding-top:12px}
.overall001 .services-box .icon img{transition-duration:.5s;-ms-transition-duration:.5s;-moz-transition-duration:.5s;-webkit-transition-duration:.5s}
.overall001 .services-box .icon a:hover img{transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
.overall001 .services-box h3{font-size:22px;padding:5px 5px;font-weight:400}
.overall001 .services-box p{font-size:16px;padding:3px 5px;height:140px}
.overall001 .services-box i{display:inline-block;width:105px;height:105px;border:1px #eee solid;border-radius:100%;font-size:40px;line-height:105px}
.overall001 .services-box.horizontal{text-align:left;padding-bottom:0}
.overall001 .services-box.horizontal .icon{display:block;float:left;width:24px;height:24px;border:3px solid #ccc;border-radius:5px;font-size:16px;font-weight:700;color:#ccc;text-align:center;line-height:24px;margin-top:8px}
.overall001 .services-box.horizontal .icon a{padding-top:0;line-height:67px;text-align:center;font-size:40px}
.overall001 .services-box.horizontal h3{margin-left:180px;padding:0;margin-bottom:20px}
.overall001 .services-box.horizontal p{margin-left:40px;height:40px;font-size:12px}
.overall001 .media-box{display:block;text-align:center;margin-bottom:15px;width:100%}
.overall001 .media-box .icon{display:inline-block;background:#fff;width:300px;height:190px;overflow:hidden;border:0 solid #d7d8db}
.overall001 .media-box .icon{transition-duration:.5s;-ms-transition-duration:.5s;-moz-transition-duration:.5s;-webkit-transition-duration:.5s}
.overall001 .media-box h3{font-size:16px;padding:5px 10px;font-weight:400;color:#000}
.overall001 .media-box p{font-size:14px;padding:0 10px;line-height:2.4}
.overall001 .media-box .icon img{width:100%;height:auto}
.overall001 .media-box .icon img{transition-duration:1s;-ms-transition-duration:1s;-moz-transition-duration:1s;-webkit-transition-duration:1s}
.overall001 .media-box.anim.anim-scale:hover .icon img{transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);-webkit-transform:scale(1.2)}
.overall001 .port-box{border:1px #fff solid;position:relative;overflow:hidden}
.overall001 .port-box .portimg{display:inline-block;background:#fff;width:100%;height:230px}
.overall001 .port-box .portimg img{width:100%;height:100%;max-width:100%!important;max-height:100%!important;opacity:1!important}
.overall001 .port-box .portinfo{position:absolute;top:0;bottom:0;right:0;left:0;text-align:center;opacity:0;color:#fff}
.overall001 .port-box .portinfo h3{display:block;margin-top:18%;padding:8px;font-size:40px;color:#fff;border:0}
.overall001 .port-box .portinfo p{color:#fff}
.overall001 .port-box .portinfo p a{color:#fff;font-size:16px;padding:0 6px}
.overall001 .port-box.anim .portinfo h3{-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-ms-transform:translateY(-100%);-o-transform:translateY(-100%);transform:translateY(-100%)}
.overall001 .port-box.anim .portinfo p{-webkit-transform:translateY(100%);-moz-transform:translateY(100%);-ms-transform:translateY(100%);-o-transform:translateY(100%);transform:translateY(100%)}
.overall001 .port-box.anim:hover .portinfo{background-color:rgba(94,40,50,.9);opacity:1}
.overall001 .port-box.anim:hover .portinfo h3,.overall001 .port-box.anim:hover .portinfo p{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}
.overall001 .i-prorec .icon{position:relative}
.overall001 .i-prorec .bg{position:absolute;top:100%;left:0;width:100%;height:100%;background:#333;opacity:.68;filter:alpha(opacity=.68)}
.overall001 .i-prorec .bg-text{position:absolute;top:45%;left:-100%;width:100%;text-align:center;transition:initial}
.overall001 .i-prorec .num{color:#fff;font-size:18px;font-family:å¾®è½¯é›…é»‘}
.overall001 .i-prorec .price{display:inline-block;margin-top:20px;width:100%;color:#fff;line-height:30px}
.overall001 .g-bd1{margin:0 0 10px}
.overall001 .g-sd1{position:relative;float:left;width:240px;margin-right:-240px}
.overall001 .g-mn1{float:right;width:100%}
.overall001 .g-mn1c{margin-left:260px}
.overall001 .section_find{padding:20px 0;background-color:#f3f3f3;text-align:center}
.overall001 .widget_search{margin-bottom:20px;padding:14px 0;width:100%;line-height:35px;text-align:left;background-color:#fff;position:relative;text-align:center}
.overall001 .widget-search-hot{color:#000;font-size:14px;padding-bottom:20px}
.overall001 .widget-search-hot p{font-size:18px;padding-bottom:10px}
.overall001 .widget-search-hot a{padding:0 6px;color:#3a3a3a}
.overall001 .widget-search-hot a:hover{text-decoration:underline}
.overall001 .widget-search-hot label{font-weight:700}
.overall001 .widget-notice{width:65%;float:left;color:#000;position:relative;padding-left:34px}
.overall001 .widget-notice i{color:#0f8e47;font-size:18px;position:absolute;left:0;top:7px}
.overall001 .widget-search-form{width:550px;font-size:14px;color:#fff;margin:0 auto}
.overall001 .widget-search-form label{float:left;width:10%;height:45px;font-size:26px;color:#bbb}
.overall001 .widget-search-form .form-control{float:left;width:70%;height:45px;vertical-align:top;border-color:#f3f3f3}
.overall001 .widget-search-form .search_btn{width:20%;height:45px;border:none;background-color:#0d62be;color:#fff}
.overall001 .widget-search-form span{padding-left:20px;color:#b2b2b2}
.overall001 .widget-search-form span strong{color:#ff343f}
.overall001 .widget-search-form a{float:right;height:30px;background-color:#ff6159;padding:0 20px;color:#fff}
.overall001 #accordion_t{font-size:30px;color:#fff;line-height:56px;text-align:center}
.overall001 #accordion{border:1px solid #0f8e47;padding:10px;color:#fff}
.overall001 #accordion h3{display:block;cursor:pointer;position:relative;margin-bottom:6px;padding:5px 30px 5px 27px;min-height:0;font-size:14px;font-weight:700;background:#ff8e00}
.overall001 #accordion h3 span{width:16px;height:16px;display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;position:absolute;right:.5em;top:50%;margin-top:-8px;background:url(../images/icon_sprite_3.png) no-repeat}
.overall001 #accordion h3 span.ui-icon-circle-arrow-s{background-position:1px -56px}
.overall001 #accordion h3 span.ui-icon-circle-arrow-e{background-position:1px -70px}
.overall001 #accordion ul li a{display:block;line-height:30px;font-size:16px;border-bottom:1px solid #28b365;padding:4px 30px;color:#fff}
.overall001 #accordion ul li a:hover{color:#5fbe36}
.overall001 .section_public{color:#fff;position:relative;background:url(../images/adv_bg.jpg) top center no-repeat #0d62be}
.overall001 .section_public .index_{padding-top:1em;padding-bottom:1em}
.overall001 .section_public .shade{background-color:rgba(0,0,0,.3);z-index:0}
.overall001 .section_public .article{text-align:right}
.overall001 .section_public h3{font-size:1.375rem;line-height:60px;padding-right:20%}
.overall001 .section_public h4{font-size:.875rem;font-weight:lighter;padding-right:8%}
.overall001 .section_public strong{font-size:1.624rem}
.overall001 .section_public2 .index_{padding-top:0;padding-bottom:0}
.overall001 .section_pro .index_{padding-top:2em;padding-bottom:2em}
.overall001 .prod-slide .cate-box{width:100%;background-color:#f3f3f3;color:#fff}
.overall001 .prod-slide .cate-box h3{font-size:30px;line-height:84px;text-align:center;overflow:hidden;background:url(../images/01.jpg) no-repeat}
.overall001 .prod-slide .cate-box ul{padding:10px 15px}
.overall001 .prod-slide .cate-box ul li{font-size:15px;background-color:#fff;margin-bottom:10px;position:relative}
.overall001 .prod-slide .cate-box ul li a{color:#000;display:block;padding:0 5px 0 18px;line-height:40px}
.overall001 .prod-slide .cate-box ul li a:hover{background-color:#0d62be;color:#fff}
.overall001 .prod-slide .cate-box ul li:after{display:block;content:'\e613';position:absolute;top:50%;right:10px;margin-top:-8px;font-family:iconfont;background-color:#f0831e;color:#fff;font-size:12px;border-radius:50%;width:17px;height:17px;line-height:17px;text-align:center}
.overall001 .prod-slide .tel-box{text-align:center;background-color:#0d62be;padding:15px;color:#fff;font-size:12px}
.overall001 .prod-slide .tel-box p.big{font-size:16px;text-align:center;background-color:#f0831e;color:#fff}
/*增加首页侧栏二级菜单*/
.overall001 .prod-slide .cate-box ul li.menu-item.menu-item-has-children:after{display:none;}
.overall001 .cate-box ul.sub-menu{display: block;/*position: initial;*/width: auto;}


/*结束*/
.overall001 .prod-slide .tel-box strong{color:#fff;font-size:24px}
.overall001 .prod-slide .tel-box i{margin-right:10px}
.overall001 .prod-cont{text-align:center}
.overall001 .prod-cont .media-box{background-color:#fff;margin-bottom:20px}
.overall001 .prod-cont .media-box .icon{border:1px solid #ebeaea}
.overall001 .prod-cont .media-box p{font-size:15px;background-color:#f3f3f3;line-height:60px}
.overall001 .section_advtage{background-color:#fff}
.overall001 .section_advtage .t{background:url(../images/adv05.png) top center no-repeat;height:130px}
.overall001 .section_advtage .t h1,.overall001 .section_advtage .t h3{text-indent:-10000px}
.overall001 .section_advtage .services-box{padding:20px 0;background:inherit;text-align:left}
.overall001 .section_advtage .services-box h3{position:relative;padding-left:76px;color:#000;font-weight:700}
.overall001 .section_advtage .services-box h3 p{padding:0;color:#ff8e00;font-size:24px;line-height:1}
.overall001 .section_advtage .services-box h3 p:before{content:''}
.overall001 .section_advtage .services-box h3 small{padding:0;text-transform:uppercase;font-size:24px}
.overall001 .section_advtage .services-box h3:before{position:absolute;top:7px;left:0;width:58px;height:58px;background:url(../images/advtange_bg.png) no-repeat;color:#fff;text-align:center;font-weight:bolder;font-size:36px;line-height:58px}
.overall001 .services-box.adv01 h3:before{content:'01'}
.overall001 .services-box.adv02 h3:before{content:'02'}
.overall001 .services-box.adv03 h3:before{content:'03'}
.overall001 .services-box.adv04 h3:before{content:'04'}






.overall001 .section_advtage .services-box p{padding-left:76px;height:auto;color:#5b5b5b;font-size:14px}
.overall001 .section_advtage .services-box p strong{color:#ff8e00;font-weight:400}
.overall001 .section_case{background:url(../images/case_bg.jpg) top center repeat}
.overall001 .section_case .index_{padding-top:3em;padding-bottom:3em}
.overall001 .section_case .index_ .t{color:#fff}
.overall001 .section_case .index_ .t h2{font-size:44px}
.overall001 .section_case .index_ .t h3{font-weight:lighter}
.overall001 .case-item{float:left;width:240px;border:8px solid #fff;line-height:2.2;background-color:#fff;text-align:center;margin-right:20px}
.overall001 .case-item .icon{display:inline-block;background:#fff;border:0;width:100%;height:176px;overflow:hidden}
.overall001 .case-item .icon img{width:100%;height:auto}
.overall001 .case-item .icon img{transition-duration:1s;-ms-transition-duration:1s;-moz-transition-duration:1s;-webkit-transition-duration:1s}
.overall001 .case-item p{font-size:16px}
.overall001 .section_case .jcarousel-control{margin-top:-20px;width:40px;height:40px;line-height:36px;background-color:#fff;color:#000;border-radius:0}
.overall001 .section_case .jcarousel-control-prev{left:-60px}
.overall001 .section_case .jcarousel-control-next{right:-60px}
.overall001 .section_case .jcarousel-wrapper:hover .jcarousel-control-next{right:-50px;background-color:#fff}
.overall001 .section_case .jcarousel-wrapper:hover .jcarousel-control-prev{left:-50px;background-color:#fff}
.overall001 .about-box img{height:144px;width:100%}
.overall001 .about-box p{line-height:2;padding:15px 0 0 0;height:110px;overflow:hidden}
.overall001 .section_news{background:#fff;overflow:hidden}
.overall001 .new-box{font-size:14px;color:#414141;margin-bottom:20px}
.overall001 .new-box li{background-color:#f7f7f7;line-height:45px;border-bottom:1px solid #d2d2d2}
.overall001 .new-box li .icondetail{float:left;color:#fff;background-color:#0d62be;width:45px;height:45px;text-align:center;cursor:pointer;position:relative}
.overall001 .new-box li .icondetail:after{position:absolute;display:block;content:'+';width:24px;height:24px;line-height:24px;font-size:24px;left:50%;top:50%;margin-top:-12px;margin-left:-12px;-webkit-transition:-webkit-transform .3s ease,background .3s ease}
.overall001 .new-box li.open .icondetail:after{content:'-'}
.overall001 .new-box li a{padding:0 10px;display:block;float:left}
.overall001 .new-box .licont{background-color:#f0f0f0;padding:10px 10px 10px 55px;color:#5b5b5b;border-bottom:1px solid #d2d2d2;display:none;height:90px;overflow:hidden}
.overall001 .news-box{position:relative;color:#828282;border-bottom:1px solid #ddd;padding-bottom:1em;margin-bottom:1em}
.overall001 .news-box.one{padding-top:0}
.overall001 .news-box.one h3 a{color:#2f9d60;font-weight:400}
.overall001 .news-box .date{line-height:22px;text-align:center;color:#b2b2b2}
.overall001 .news-box .item{display:none}
.overall001 .news-box .date i{font-size:55px;font-weight:700;font-family:'DIN Condensed Bold';display:block;line-height:55px}
.overall001 .news-box h3{font-size:16px;font-weight:700}
.overall001 .news-box h3 a:hover{color:#2785ce;text-decoration:underline}
.overall001 .news-box .more{font-weight:400}
.overall001 .news-box .more:hover{color:#2785ce;background:0 0}
.overall001 .news-box .news-time span{display:inline-block;padding-right:15px;color:#bbb;font-size:12px;line-height:22px}
.overall001 .news-box2{padding:15px 20px 10px 10px;margin-bottom:0}
.overall001 .news-box2 h3{padding-top:6px}
.overall001 .news-box2 p{padding:5px 0}
.overall001 .news-box2 .t span{font-size:14px;float:right;font-weight:400}
.overall001 .news-box2 a.more.block{padding:3px 10px;border:1px solid #777;background-color:#777;border-radius:0;display:inline-block;margin-top:0}
.overall001 .article{text-align:left}
.overall001 .article .c{margin:15px 0;font-size:14px;overflow:hidden}
.overall001 .box-t{font-size:24px;color:#0d62be;padding-bottom:10px;position:relative;text-align:left}
.overall001 .box-t small{font-size:14px;color:#000;font-weight:400;padding-left:10px}
.overall001 .box-t a{font-size:12px;color:#b2b2b2}
.overall001 .iconmore{position:absolute;width:26px;height:26px;top:50%;right:0;margin-top:-15px;border:2px solid #0d62be;text-align:center;overflow:hidden}
.overall001 .iconmore a{display:block;width:26px;height:26px;font-size:26px;overflow:hidden;line-height:22px}
.overall001 .iconmore a i{display:block;position:absolute;top:0;left:0;right:0;bottom:0;color:#0d62be;-webkit-transition:-webkit-transform .3s ease,background .3s ease}
.overall001 .iconmore a:hover i{transform:rotate(90deg);background-color:#0d62be;color:#fff}
.overall001 .pagemenulist{height:46px;width:100%;background:#f2f2f2;border-bottom:1px solid #ebebeb}
.overall001 .pagemenulist .wrap{height:47px;position:relative}
.overall001 .pagemenulist ul{position:absolute;left:0;top:0}
.overall001 .pagemenulist ul li{float:left;height:45px;padding:0 17px;line-height:45px;margin:1px}
.overall001 .pagemenulist ul li.hover{border:1px solid #ebebeb;border-bottom:1px solid #fff;background:#fff;font-weight:700}
.overall001 .pagemenulist ul li a{font-size:14px;color:#454545}
.overall001 .pagemenulist ul li a:hover,.overall001 .pagemenulist ul li.hover a{color:#00aa3a}
.overall001 .pagecrumblist{float:right;font-size:14px;color:#b2b2b2;font-weight:400}
.overall001 .pagecrumblist .wrap{line-height:46px;text-align:right;font-size:14px;color:#343434}
.overall001 .pagecrumblist ul{position:absolute;right:0;top:0}
.overall001 .pagecrumblist ul li{float:left;height:45px;padding:0 3px;line-height:45px;margin:1px}
.overall001 .pagecrumblist ul li.hover{border:1px solid #ebebeb;border-bottom:1px solid #fff;background:#fff;font-weight:700}
.overall001 .pagecrumblist a{font-size:14px;color:#b2b2b2}
.overall001 .pagecrumblist a:hover{color:#0f8e47}
.overall001 a.back{position:absolute;top:10px;right:10px;padding:0 15px;border:1px solid #000;color:#000;line-height:25px}
.overall001 .section_inner{background:#f3f3f3}
.overall001 .section_inner .index_{padding-top:1em}
.overall001 .section_inner .prod-slide .cate-box{background-color:#fff}
.overall001 .section_inner .prod-slide .cate-box ul li{background-color:#f3f3f3}
.overall001 .box{padding:0 20px;background-color:#fff}
.overall001 .box-title{border-bottom:1px solid #e2e2e2}
.overall001 .box-title strong{font-size:24px;color:#4b4b4b;position:relative;padding:15px 10px;float:left}
.overall001 .box-title strong:after{display:block;content:'';position:absolute;bottom:-1px;left:0;right:0;width:100%;height:2px;background-color:#0d62be}
.overall001 .box .pagecrumblist,.overall001 .box .pagecrumblist a{color:#7e7e7e}
.overall001 .box .pagecrumblist{padding:30px 10px 0 0}
.overall001 .box-cont{padding:20px 10px}
.overall001 .section_nnews .news-box{border-bottom:1px dashed #999}
.overall001 .section_nnews .news-box p{padding-top:10px}
.overall001 .section_nnews .news-box h3{padding-left:25px;position:relative}
.overall001 .section_nnews .news-box h3 a{color:#373636}
.overall001 .section_nnews .news-box h3:before{display:block;content:'';position:absolute;left:0;top:6px;width:10px;height:10px;border-radius:50%;border:3px solid #d2d2d4;box-shadow:inset 0 0 0 8px rgba(255,255,255,.5);-webkit-transition:box-shadow .3s ease;transition:box-shadow .3s ease}
.overall001 .section_nnews .news-box h3:hover a{color:#0d62be;text-decoration:none}
.overall001 .section_nnews .news-box h3:hover:before{box-shadow:inset 0 0 0 2px #0d62be;border-width:0;width:16px;height:16px}
.overall001 .newstit{width:100%;border-bottom:1px solid #eee;text-align:center;padding-bottom:15px;margin-bottom:10px}
.overall001 .newstit h1,.overall001 .newstit h2{color:#000;font-weight:400;line-height:1.3}
.overall001 .newstit p{font-size:14px;color:#bbb}
.overall001 .newstit p a{color:#bbb}
.overall001 .newstit p span{padding:0 20px}
.overall001 .newstit p span .icon_js_c{background:url(../images/icon_news_detail.gif) no-repeat;display:inline-block;width:20px;height:20px;text-align:center;line-height:20px;overflow:hidden;font-size:14px;vertical-align:middle;margin-left:4px}
.overall001 .newstit p span .icon_js_c_hover{background:url(../images/icon_news_detail.gif) -20px 0 no-repeat}
.overall001 .newsthumb{text-align:center}
.overall001 .newsthumb img{max-width:90%}
.overall001 .content{font-size:14px;line-height:30px;padding:40px 0 40px;margin-bottom:16px}
.overall001 .content p{font-size:14px;margin:1.12em 0;line-height:30px}
.overall001 .content h1,.overall001 .content h2,.overall001 .content h3,.overall001 .content h4,.overall001 .content h5,.overall001 .content h6{line-height:150%}
.overall001 .content h1{font-size:32px;font-weight:700;margin:.67em 0}
.overall001 .content h2{font-size:24px;font-weight:700;margin:.75em 0}
.overall001 .content h3{font-size:18px;font-weight:700;margin:.83em 0}
.overall001 .content h4{font-size:16px;font-weight:700;margin:1.12em 0}
.overall001 .content h5{font-size:14px;font-weight:700;margin:1.5em 0}
.overall001 .content h6{font-size:12px;font-weight:700;margin:1.67em 0}
.overall001 .content ul li{list-style:inherit}
.overall001 .content .n_top{margin-top:0}
.overall001 .content_bak{font-size:14px;line-height:30px;padding:40px 60px;background-color:#fff}
.overall001 .content_bak p{font-size:14px;margin:1.12em 0;line-height:30px}
.overall001 .content_bak h1,.overall001 .content_bak h2,.overall001 .content_bak h3,.overall001 .content_bak h4,.overall001 .content_bak h5,.overall001 .content_bak h6{line-height:150%}
.overall001 .content_bak h1{font-size:32px;font-weight:700;margin:.67em 0}
.overall001 .content_bak h2{font-size:24px;font-weight:700;margin:.75em 0}
.overall001 .content_bak h3{font-size:18px;font-weight:700;margin:.83em 0}
.overall001 .content_bak h4{font-size:16px;font-weight:700;margin:1.12em 0}
.overall001 .content_bak h5{font-size:14px;font-weight:700;margin:1.5em 0}
.overall001 .content_bak h6{font-size:12px;font-weight:700;margin:1.67em 0}
.overall001 .content_bak ul li{list-style:inherit}
.overall001 .content_bak .n_top{margin-top:0}
.overall001 .newspj{width:100%;text-align:center;padding-bottom:24px}
.overall001 .newspj a.bad,.overall001 .newspj a.good{float:none}
.overall001 a.bad,.overall001 a.good{font-size:14px;float:right;color:#999;cursor:pointer}
.overall001 a.bad{padding-left:18px}
.overall001 a.bad span,.overall001 a.good span{background:url(../images/icon_news_detail.gif) no-repeat;width:24px;display:inline-block;vertical-align:text-bottom;height:31px;margin-right:7px;cursor:pointer}
.overall001 .newspj a.bad span{background-position:0 -51px}
.overall001 .newspj a.good span{background-position:0 -20px}
.overall001 .newspj a.bad:hover span{background-position:-24px -51px}
.overall001 .newspj a.good:hover span{background-position:-24px -20px}
.overall001 .newsbshare{text-align:center;font-size:14px}
.overall001 .newsdetailcur{width:100%;position:relative;padding:22px 0 16px}
.overall001 .newsdetailcur li{width:49.9%;float:left;font-size:14px;position:relative;z-index:1111;overflow:hidden}
.overall001 .newsdetailcur li a{padding:5px 0 5px}
.overall001 .newsdetailcur li.r{float:right;text-align:right}
.overall001 .check_moblie{display:inline-block;width:98px;height:30px;vertical-align:middle;background:#f2f2f2;border:1px solid #e5e5e5;line-height:30px;color:#999;text-indent:9px;text-align:left;position:relative;cursor:pointer;margin-left:20px}
.overall001 .check_moblie .isj{background:#888;width:0;height:0;overflow:hidden;margin-bottom:5px;border-top:5px solid #888;border-right:5px solid #f2f2f2;border-left:5px solid #f2f2f2;display:block;position:absolute;right:8px;top:14px}
.overall001 .check_moblie .isj_hover{border-top:none;border-bottom:5px solid #888}
.overall001 .mobile_qrview{width:100%;min-width:100%;display:none}
.overall001 .mobile_qrview .in{border:1px solid #e5e5e5;position:relative;padding:20px 29px;min-height:130px;margin-top:22px}
.overall001 .mobile_qrview h1{font-size:30px;color:#000;padding-bottom:10px}
.overall001 .mobile_qrview p{line-height:24px;font-size:14px;color:#999}
.overall001 .mobile_qrview img{float:right}
.overall001 .mobile_qrview .clmoblie{display:none;width:24px;height:24px;line-height:24px;font-size:22px;overflow:hidden;position:absolute;right:10px;top:10px}
.overall001 .newsrecmd h4{font-size:24px;color:#000;padding:10px 0}
.overall001 .proddetail h5{font-size:18px;color:#fff;border-bottom:1px solid #e2e2e2;line-height:45px}
.overall001 .proddetail h5 strong{background-color:#0d62be;padding:10px 35px;line-height:40px;border-bottom:2px solid #ff9104;position:relative}
.overall001 .f-picmid{width:auto;height:260px;background:#fff;display:table-cell;vertical-align:middle;text-align:center;position:relative}
.overall001 .f-picmid img{width:100%;height:auto}
.overall001 .f-picmid .l-shadow{background:url(../images/bn_hover.gif) repeat;opacity:.4;filter:alpha(opacity=40);position:absolute;top:0;left:0;right:0;bottom:0}
.overall001 .f-picmid a:hover .l-shadow{display:none}
.overall001 .deright{padding-left:5%}
.overall001 .deright h4{font-size:36px;color:#404040;border-bottom:#727272 3px solid;line-height:50px;font-weight:400;margin:0}
.overall001 .deright h4>span{font-size:18px}
.overall001 .deright ul{background-color:#f1f4f5;padding:10px 15px}
.overall001 .deright ul li{color:#858585;line-height:34px;font-size:14px}
.overall001 .deright ul li>span{color:#404040}
.overall001 .yuall{margin-top:48px;border-bottom:none}
.overall001 .yuall a{float:left;display:block;text-align:center;line-height:40px;color:#0d62be;border:1px solid #0d62be;padding:0 20px 0 35px;position:relative}
.overall001 .zx{margin-left:13px}
.overall001 .yuall i{font-size:22px;position:absolute;top:9px;left:10px}
.overall001 .newsnote{background-color:#f7f8f8;border:1px solid #e2e2e2;padding:20px;margin-top:20px}
.overall001 .newsnote p{margin:0;line-height:24px}
.overall001 .newsnote strong{font-size:18px;color:#0d62be;line-height:35px}
.overall001 .usinfo{padding:10px 0}
.overall001 .usinfo .usinfo_title{line-height:54px;margin-bottom:20px;font-size:28px}
.overall001 .usinfo .info{font-size:14px;color:#444;line-height:30px}
.overall001 #map{width:100%;height:500px}
.overall001 .section_njob.block1,.overall001 .section_njob.block1 *{background:#f3f3f3}
.overall001 .section_njob .services-box{padding-bottom:0}
.overall001 .section_njob .services-box .icon{height:auto;font-size:60px;color:#d83142}
.overall001 .section_njob .services-box h3{color:#d83142;font-size:20px;font-weight:400}
.overall001 .section_njob .services-box p,.overall001 .section_njob .services-box p a{color:#7f7f7f;height:auto}
.overall001 .section_njob .seg{padding:5px;border:1px solid #d5d5d5;text-align:left;margin-bottom:15px}
.overall001 .section_njob .seg .segin{padding:5%;border:1px solid #d5d5d5}
.overall001 .section_njob .seg .segin .c{height:130px}
.overall001 .section_njob .seg h4{margin:15px 0}
.overall001 .section_njob .seg h4 strong{font-size:1.2rem}
.overall001 .section_njob .help_info{padding:20px 0;background-color:#f7f7f7;margin-bottom:1em;text-align:center}
.overall001 .section_njob a.back{position:absolute;top:28px;padding:2px 15px;border:1px solid #ccc}
.overall001 .subnavbox{margin:10px auto;border-top:none}
.overall001 .sub_top{width:100%;background:#d83142;height:50px;color:#FFF;border-radius:10px 10px 0 0;font-size:20px;line-height:50px;border:none}
.overall001 .sub_top p{padding-left:2%}
.overall001 .sub_cont{border:solid 1px #e5e3da}
.overall001 .subnav{border-bottom:solid 1px #e7e5e5;cursor:pointer;font-size:14px;line-height:60px;padding-left:2%}
.overall001 .subnav i{float:right;line-height:60px;margin-right:4%;color:#d83142;font-size:24px}
.overall001 .subnav i:before{content:"\ea43"}
.overall001 .subnav:hover{color:#d83142}
.overall001 .subnav.on{color:#d83142}
.overall001 .subnav.open i:before{content:"\ea41"}
.overall001 .navcontent{display:none;border-bottom:solid 1px #e5e3da;background:#f9f8f8;padding:15px 2%;font-size:14px;color:#7f7f7f;line-height:24px}
.overall001 .jobapply{border:1px solid #ccc;padding:45px}
.overall001 .jobchild{font-size:14px;border-right:1px solid #ccc}
.overall001 .jobchild p.job_label{padding:4px 0}
.overall001 .jobchild h3.job_name{color:#333;line-height:43px;font-size:26px;margin-bottom:15px;font-weight:500}
.overall001 .jobchild h4.job_name{font-size:15px;margin-top:25px;margin-bottom:5px}
.overall001 .jobchild .job_cont,.overall001 .jobchild .job_label,.overall001 .jobchild p{color:#7c7c7c}
.overall001 .prod_c img,.overall001 .content_bak img{display: block;margin: 0 auto;max-width: 100% !important;height: auto;}

.overall001 .wpagenavi{margin:0 auto;padding-top:20px;width:100%;line-height:46px;font-size:15px;font-family:Tahoma;text-align:center;overflow:hidden;padding-bottom: 40px;}
.overall001 .wpagenavi a:link,.overall001 .wpagenavi a:visited{margin:0 4px;padding:14px 19px;color:#666;background:#f6f6f6;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-webkit-transition:background .4s ease;-moz-transition:background .4s ease;-o-transition:background .4s ease;-ms-transition:background .4s ease;transition:background .4s ease}
.overall001 .wpagenavi a:active,.overall001 .wpagenavi a:hover{color:#fff0e6;background:#0d62be;text-decoration:none}
.overall001 .wpagenavi a.current:hover,.overall001 .wpagenavi a.current:link,.overall001 .wpagenavi a.current:visited{color:#fff0e6;background:#0d62be;font-weight:700}
.overall001 .post-navi{padding-top:20px;text-align:center}
.overall001 .post-navi a:link,.overall001 .post-navi a:visited{padding:2px 9px;border:1px solid #fff;background:#fff}
.overall001 .post-navi a:hover{border:1px solid #e4e4e4;background:#f5f5f5;text-decoration:none}
.overall001 .post-prev-next{margin-bottom:40px}
