article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,
h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{
	margin: 0;
	padding: 0;
}
body {
	/*font-family: Microsoft Yahei, arial, Hiragino Sans GB, \\5B8B\4F53, sans-serif;*/
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background:#fff;
	font-family: "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif, arial;
    font-size: 16px;
    font-weight: 300;
    outline: 0;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
html * {
	outline: 0;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
 :after,
 :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}
*{
	/*滑动时候警告：Unable to preventDefault inside passive event listener,解决方法*/
    touch-action: pan-y;
}
* {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.clearfix {
	zoom: 1
}
ul,
li {
	list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:focus,
a:hover,
a:visited,
input,
input:hover,
input:focus,
input:active,
select {
  text-decoration: none;
  outline: none !important;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  /*去掉iOS系统input标签默认样式*/
  -webkit-appearance: none;
   }
.left{
	float:left;
}
.right{
	float:right;
}
.w1200{
	width:1200px;
	margin:0 auto;
}
img{
	border:0;
	display: block;
	overflow: hidden;
	max-width: 100%;
	height:auto;
}

/* all */

::-webkit-input-placeholder {
	color: #dedede;
}
::-moz-placeholder {
	color: #dedede;
}
/* firefox 19+ */
:-ms-input-placeholder {
	color: #dedede;
}
/* ie */

input:-moz-placeholder {
	color: #dedede;
}
.form td input::-webkit-input-placeholder {
	color: #dedede;
}

.form td input::-webkit-input-placeholder {
	color: #dedede;
}

.form td input::-webkit-input-placeholder {
	color: #dedede;
}
/* individual: mozilla */
.form td input::-moz-placeholder {
	color: #dedede;
}
.form td input::-moz-placeholder {
	color: #dedede;
}
.form td input::-moz-placeholder {
	color: #dedede;
}
