@charset "utf-8";
	.pub_page_side_main .cnt .pub_page_main .page_news_list {
	border:1px solid #e5e5e5;
	background:#fff;
	overflow:hidden
}
.pub_page_side_main .cnt .pub_page_main .page_news_list .news_list {
	margin:0
}
.pub_page_side_main .cnt .pub_page_main .page_news_list .news_list .news_item {
	margin:0 30px;
	padding:8px 0
}
@media(max-width:600px) {
	.pub_page_side_main .cnt .pub_page_main .page_news_list .news_list .news_item {
	margin:0 10px;
	padding:10px 0
}}.pub_page_side_main .cnt .pub_page_main .page_news_list .news_list .news_item .imgbox.pic {
	float:left;
	width:150px;
	height:150px;
	margin:4px 0 0
}
.pub_page_side_main .cnt .pub_page_main .page_news_list .news_list .news_item .intro {
	margin:0 0 0 169px;
	padding-top:20px;
}
.pub_page_side_main .cnt .pub_page_main .page_news_list .news_list .news_item .intro .news_title {
	margin:0;
	font-size:15px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.pub_page_side_main .cnt .pub_page_main .page_news_list .news_list .news_item .intro .news_title a{
	color:#1086f1;
}
.pub_page_side_main .cnt .pub_page_main .page_news_list .news_list .news_item .intro .news_brief {
	min-height:50px;
	margin:12px 0;
	font-size:14px;
	line-height:1.6;
	overflow:hidden;
	color:#666;
}
.pub_page_side_main .cnt .pub_page_main .page_news_list .news_list .news_item .intro .news_status_list {
	margin:10px 0
}
.pub_page_side_main .cnt .pub_page_main .page_news_list .news_list .news_item .intro .news_status_list .news_status_time {
	margin:10px 0;
	color:#ee551f;
	font-size:14px;
}
.pub_page_side_main .cnt .pub_page_main .page_news_list .news_list .news_item .intro .news_status_list .news_status_time .ico.ico_clock {
	display:inline-block;
	width:16px;
	height:16px;
	margin:0 8px 0 0;
	vertical-align:middle;
	background:url(../../../templates/minyiclean/images/page_news_ico_clock.png)
}
.pub_page_side_main .cnt .pub_page_main .page_news_list .news_list .news_item {
	border-top:1px dashed #e3e3e3
}
.pub_page_side_main .cnt .pub_page_main .empty_tips {
	padding:50px 0;
	font-weight:700;
	font-size:24px;
	text-align:center;
	background:#fff;
	border:1px solid #ccc;
	border-top:0
}
.pub_page_side_main .cnt .clear {
}