@charset "utf-8";

.pub_page_side_main .cnt .pub_page_main {
}

.pub_page_side_main .cnt .pub_page_main .page_product_list {
	text-align: justify;
	font-size: 0
}

.pub_page_side_main .cnt .pub_page_main .page_product_list .page_product_item {
	display: inline-block;
	width: 31.46067415730337%;
	margin: 9px 0;
	vertical-align: top;
	font-size: 14px;
	background: #fff;
	transition: all ease .3s;
	float: left;
	    padding: 0 6px;
}

@media(max-width:600px) {
	.pub_page_side_main .cnt .pub_page_main .page_product_list .page_product_item {
		width: 49%
	}}

.pub_page_side_main .cnt .pub_page_main .page_product_list .page_product_item .pic.imgbox {
	display: block
}

.pub_page_side_main .cnt .pub_page_main .page_product_list .page_product_item .pic.imgbox img {
}

.pub_page_side_main .cnt .pub_page_main .page_product_list .page_product_item .pic.imgbox .border {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 2px solid transparent;
	transition: all ease .3s
}

.pub_page_side_main .cnt .pub_page_main .page_product_list .page_product_item .pic.imgbox:before {
	padding: 105.26315% 0 0
}

.pub_page_side_main .cnt .pub_page_main .page_product_list .page_product_item .title {
	padding: 15px;
	text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pub_page_side_main .cnt .pub_page_main .page_product_list .page_product_item:hover {
	color: #fff;
	border-color: #032a4d;
	background: #032a4d
}

.pub_page_side_main .cnt .pub_page_main .page_product_list .page_product_item:hover .pic.imgbox .border {
	border-color: #032a4d
}

.pub_page_side_main .cnt .pub_page_main .page_product_list .line_holder {
	display: inline-block;
	width: 100%
}

.pub_page_side_main .cnt .pub_page_main .empty_tips {
	padding: 50px 0;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 0
}

.pub_page_side_main .cnt .clear {
}